* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #CCC;
  position: relative;
}

.container {
  margin-top: 300px;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .container .catbody {
    position: absolute;
    width: 725px;
    height: 380px;
    left: 10%;
    top: 3%;
  }
  .container .catbody::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/body.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .container .catbody .cathead {
    z-index: 2;
    width: 463px;
    height: 395px;
    position: absolute;
    left: -4%;
    top: -63%;
    background-image: url("../img/head.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .container .catbody .cathead .eyes {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 207px;
    height: 61px;
    background-image: url("../img/eyes_h.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .container .catbody .cathead .bread {
    position: absolute;
    width: 100%;
    height: 67px;
    top: 63%;
  }
  .container .catbody .cathead .bread .left, .container .catbody .cathead .bread .right {
    position: absolute;
    height: 67px;
    width: 98px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .container .catbody .cathead .bread .left {
    background-image: url("../img/bread_l.png");
  }
  .container .catbody .cathead .bread .right {
    right: 0;
    background-image: url("../img/bread_r.png");
  }
  .container .catbody .cathead .mouth {
    position: absolute;
    left: 50%;
    top: 67%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 66px;
    height: 67px;
    background-image: url("../img/mouth_h.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .container .catbody .cattail {
    position: absolute;
    display: block;
    top: -3%;
    left: 85%;
    width: 414px;
    height: 379px;
    background-image: url("../img/tail_a.png");
    background-image: url("../img/tail_h.png");
    background-image: url("../img/tail_s.png");
    background-position: cover;
    background-repeat: no-repeat;
  }
  .container .catbody .cattail.happy {
    -webkit-animation: tailHappy 2s linear infinite;
            animation: tailHappy 2s linear infinite;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  .container .catbody .cattail.angry {
    -webkit-animation: tailAngry 2s linear infinite;
            animation: tailAngry 2s linear infinite;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  @-webkit-keyframes tailHappy {
    0% {
      background-image: url("../img/tail_s.png");
    }
    42% {
      background-image: url("../img/tail_s.png");
    }
    43% {
      background-image: url("../img/tail_h.png");
    }
    57% {
      background-image: url("../img/tail_h.png");
    }
    58% {
      background-image: url("../img/tail_s.png");
    }
    71% {
      background-image: url("../img/tail_s.png");
    }
    72% {
      background-image: url("../img/tail_h.png");
    }
    85% {
      background-image: url("../img/tail_h.png");
    }
    86% {
      background-image: url("../img/tail_s.png");
    }
    100% {
      background-image: url("../img/tail_s.png");
    }
  }
  @keyframes tailHappy {
    0% {
      background-image: url("../img/tail_s.png");
    }
    42% {
      background-image: url("../img/tail_s.png");
    }
    43% {
      background-image: url("../img/tail_h.png");
    }
    57% {
      background-image: url("../img/tail_h.png");
    }
    58% {
      background-image: url("../img/tail_s.png");
    }
    71% {
      background-image: url("../img/tail_s.png");
    }
    72% {
      background-image: url("../img/tail_h.png");
    }
    85% {
      background-image: url("../img/tail_h.png");
    }
    86% {
      background-image: url("../img/tail_s.png");
    }
    100% {
      background-image: url("../img/tail_s.png");
    }
  }
  @-webkit-keyframes tailAngry {
    0% {
      background-image: url("../img/tail_h.png");
    }
    1% {
      background-image: url("../img/tail_a.png");
    }
    8% {
      background-image: url("../img/tail_a.png");
    }
    9% {
      background-image: url("../img/tail_h.png");
    }
    27% {
      background-image: url("../img/tail_h.png");
    }
    28% {
      background-image: url("../img/tail_a.png");
    }
    35% {
      background-image: url("../img/tail_a.png");
    }
    36% {
      background-image: url("../img/tail_h.png");
    }
    57% {
      background-image: url("../img/tail_h.png");
    }
    58% {
      background-image: url("../img/tail_a.png");
    }
    65% {
      background-image: url("../img/tail_a.png");
    }
    66% {
      background-image: url("../img/tail_h.png");
    }
    90% {
      background-image: url("../img/tail_h.png");
    }
    91% {
      background-image: url("../img/tail_a.png");
    }
    98% {
      background-image: url("../img/tail_a.png");
    }
    99% {
      background-image: url("../img/tail_h.png");
    }
    100% {
      background-image: url("../img/tail_h.png");
    }
  }
  @keyframes tailAngry {
    0% {
      background-image: url("../img/tail_h.png");
    }
    1% {
      background-image: url("../img/tail_a.png");
    }
    8% {
      background-image: url("../img/tail_a.png");
    }
    9% {
      background-image: url("../img/tail_h.png");
    }
    27% {
      background-image: url("../img/tail_h.png");
    }
    28% {
      background-image: url("../img/tail_a.png");
    }
    35% {
      background-image: url("../img/tail_a.png");
    }
    36% {
      background-image: url("../img/tail_h.png");
    }
    57% {
      background-image: url("../img/tail_h.png");
    }
    58% {
      background-image: url("../img/tail_a.png");
    }
    65% {
      background-image: url("../img/tail_a.png");
    }
    66% {
      background-image: url("../img/tail_h.png");
    }
    90% {
      background-image: url("../img/tail_h.png");
    }
    91% {
      background-image: url("../img/tail_a.png");
    }
    98% {
      background-image: url("../img/tail_a.png");
    }
    99% {
      background-image: url("../img/tail_h.png");
    }
    100% {
      background-image: url("../img/tail_h.png");
    }
  }
}

.container .counterBox {
  position: absolute;
  bottom: 60px;
  left: 80px;
  border: 1px solid;
  height: 80px;
  width: 320px;
  z-index: 3;
  background-color: #d9d9d9;
  border: 7px solid #000;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container .btnBox {
  z-index: 3;
  height: 200px;
  width: 350px;
  position: absolute;
  right: -15px;
  top: 18%;
}

.container .btnBox .btnItem {
  height: 70px;
  width: 120px;
  border: 7px solid #000;
  background-color: #d9d9d9;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .btnBox .btnItem.act {
  background: #ffe574;
}

.container .btnBox .btnItem span {
  display: inline-block;
  width: 108px;
  height: 45px;
}

.container .btnBox .btnItem:nth-child(1) {
  margin-left: 10px;
}

.container .btnBox .btnItem:nth-child(2) {
  margin-left: 90px;
  margin-top: 7px;
}

.container .btnBox .btnItem:nth-child(3) {
  margin-left: 170px;
  margin-top: 14px;
}

.container .btnBox #StartBtn, .container .btnBox #StopBtn, .container .btnBox #ClearBtn {
  position: relative;
}

.container .btnBox #StartBtn img {
  position: relative;
  top: 5px;
  left: -2px;
}

.container .btnBox #StopBtn img {
  position: relative;
  top: 7px;
  left: 2px;
}

.container .btnBox #ClearBtn img {
  position: relative;
  top: 9px;
}
/*# sourceMappingURL=style.css.map */