<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="新楓之谷 2024 全Boss資訊內容">
    <meta property="og:title" content="新楓之谷-Boss資訊">
    <meta property="og:description" content="新楓之谷 2024 全Boss資訊內容">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="新楓之谷-Boss資訊">
    <meta property="twitter:description" content="新楓之谷 2024 全Boss資訊內容">
    <meta property="twitter:image" content="">
    <title>新楓之谷-Boss資訊</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="./img/maplecloudplayer.ico" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            background: #222;
            --sb-track-color: #232E33;
            --sb-thumb-color: #ffffff;
            --sb-size: 4px;            
        }

        body::-webkit-scrollbar {
          width: var(--sb-size)
        }

        body::-webkit-scrollbar-track {
          background: var(--sb-track-color);
          border-radius: 4px;
        }

        body::-webkit-scrollbar-thumb {
          background: var(--sb-thumb-color);
          border-radius: 4px;
        
        }

        @supports not selector(::-webkit-scrollbar) {
          body {
            scrollbar-color: var(--sb-thumb-color)
                             var(--sb-track-color);
          }
        }        
    </style>
</head>
<body>
    <div id="app">
        <header class="fixed w-full pt-1 bg-[#222] z-10">
            <h1 class=" text-xl text-[#FFF] font-bold p-2 ml-4 md:block hidden">楓之谷全Boss資訊</h1>
            <h2 class="text-white absolute right-0 top-0 flex items-center"><span>Boss難度:</span> 
                <button @click.prev="handBossDifficulty" 
                    class="inline-block  md:ml-4 bg-black rounded-md mt-1 w-[100px] text-center py-2 font-bold text-xl hover:text-[#FF0] md:scale-100 scale-75 z-10">
                    {{nowBossRender.difficulty}}
                </button>
            </h2>
            <span class="absolute md:text-2xl md:top-4 top-3 md:left-1/2 md:-translate-x-1/2 left-8 font-bold text-[#FF0] text-xl">{{nowBossRender.name}}</span>
            <!-- BossNav -->
            <ul class="flex w-full pt-12 md:pt-2 justify-around relative ">
                <li @click="handBossNavCont(null,'general')" class="cursor-pointer font-bold md:text-lg text-white  bg-black w-[20%] py-2 text-center text-sm">一般</li>
                <li @click="handBossNavCont(null,'arc')" class="cursor-pointer font-bold md:text-lg text-white  bg-black w-[20%] py-2 text-center text-sm">奧樹之河</li>
                <li @click="handBossNavCont(null,'grandis')" class="cursor-pointer font-bold md:text-lg text-white  bg-black w-[20%] py-2 text-center text-sm">格蘭蒂斯</li>
                <li @click="handBossNavCont(null,'oversea')" class="cursor-pointer font-bold md:text-lg text-white  bg-black w-[20%] py-2 text-center text-sm">海外</li>
                <li @click="handBossNavCont(null,'special')" class="cursor-pointer font-bold md:text-lg text-white  bg-black w-[20%] py-2 text-center text-sm">特殊</li>
            </ul>
            <!-- BossNavCont -->
            <div class="bg-[#666]" v-show="BossNavContBool">
                <ul class=" font-bold flex gap-x-4 gap-y-2 flex-wrap 2xl:flex-nowrap px-8 py-2 text-white">
                    <li 
                    @click="handNowBossRender(null, list.bossName,list.defaultDifficulty,list.mission)"
                    :class="['text-lg','cursor-pointer',{'text-[#FF0]': list.bossName === nowBossRender.name}]" v-for="list in BossNavCont.is" :key="list.bossName">
                    {{list.bossName}}</li>
                </ul>
            </div>
        </header>
        <main class="pt-[6rem]  pb-10" @click="handBossNavCont(null,'close')">
            <div>
                <h1 class="text-2xl font-bold text-white text-center py-4">Boss介紹</h1>
                <img v-if="nowBossRender.name !== '烈焰戰狼'" class="mx-auto py-2 max-w-[300px] lg:max-w-[500px]" :src="`./img/boss/banner_${nowBossRender.name}.png`" alt="">
                <img v-if="nowBossRender.name === '烈焰戰狼'" class="mx-auto py-2 max-w-[300px] lg:max-w-[500px]" :src="`./img/boss/banner_${nowBossRender.difficulty}${nowBossRender.name}.png`" alt="">
                <h1  class="text-2xl font-bold text-white text-center py-4">{{BossJoinConditionTitle}}: <span>{{nowBossRender.mission}}</span></h2>
                <div 
                v-if="ShowBossRuleInfo[0].rule.length !== 0 " 
                class="border-2 w-[95%] mx-auto max-w-[1000px] rounded-md"
                >
                    <ul class="flex justify-around border-b-2">
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">難度</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">進場次數</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">里程</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">頭目點數</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">入場需求</li>
                    </ul>
                    <ul 
                    class="flex justify-around py-1 items-center" 
                    v-for="list in ShowBossRuleInfo" :key="list.rule[0].key"
                    >
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">{{list.rule[0].mode}}</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">{{list.rule[0].joinTimes}}</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">{{list.rule[0].males}}</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">{{list.rule[0].bossPts}}</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">{{list.rule[0].joinRule}}</li>
                    </ul>
                </div>
                <div 
                v-if="ShowBossRuleMsg !== ''" 
                class="mx-auto max-w-[1000px] font-bold lg:text-base text-xs px-8 pt-4" 
                v-html="ShowBossRuleMsg"
                >
                </div>
            </div>
            <!-- BossCont -->
            <h1 class="text-2xl font-bold text-white text-center py-2">Boss資訊<span class="ml-2" v-show="nowBossRender.difficulty !== '-'">({{nowBossRender.difficulty}})</span></h1>
            <div 
            class="border-2 mt-2 w-[95%] mx-auto max-w-[1000px] rounded-md">
                <ul class="flex justify-around border-b-2">
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">入場等級</li>
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">時間限制</li>
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">消耗品冷卻</li>
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">死亡次數</li>
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">完成次數</li>
                </ul>  
                <ul 
                class="flex justify-around items-center">
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2 ">Lv{{ShowJoinInfo.Lv}}</li>
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2 " v-html="ShowJoinInfo.timeLimit"></li>
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2 " v-html="ShowJoinInfo.cd"></li>
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2 " v-html="ShowJoinInfo.deadTimes"></li>
                    <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2 " v-html="ShowJoinInfo.finishTimes"></li>
                </ul>                                  
            </div>               
                <div class="border-2 w-[95%] mx-auto max-w-[1000px] rounded-md mt-4">
                    <ul class="flex justify-around border-b-2">
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2 hidden md:block">怪物等級</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">怪物名稱</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">血量</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">防禦</li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs py-2">屬性減半</li>
                    </ul>  
                    <ul 
                    class="flex justify-around py-1 items-center"
                    v-for="list in MosInfoRender" :key="list.key"
                    >
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs hidden md:block">
                            <span class="hidden md:inline-block">Lv.{{list.Lv}}</span>
                        </li>                    
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs">
                            <span class="md:hidden">Lv.{{list.Lv}}</span><span class="block md:inline-block md:ml" v-html="list.name"></span>
                        </li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs" v-html="list.hp"></li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs" v-html="list.defense"></li>
                        <li class="text-white font-bold w-full text-center lg:text-base text-xs" v-html="list.half"></li>
                    </ul>  
                </div> 
                <div v-if="ARCInfoRender.length !== 0">
                    <h1 class="text-2xl font-bold text-white text-center py-4">祕法符文增幅(ARC)</h1>
                    <div class="border-2 w-[95%] mx-auto max-w-[1000px] rounded-md">
                            <ul class="flex justify-around md:border-b-2 flex-wrap md:flex-nowrap">
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">祕法增傷</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">10%</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">30%</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">60%</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">70%</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">祕法需求</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">{{ARCInfoRender[0]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">{{ARCInfoRender[1]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">{{ARCInfoRender[2]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">{{ARCInfoRender[3]}}</li>                            
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">80%</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">100%</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">110%</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">130%</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">150%</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">{{ARCInfoRender[4]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">{{ARCInfoRender[5]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">{{ARCInfoRender[6]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">{{ARCInfoRender[7]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2 md:hidden">{{ARCInfoRender[8]}}</li>                            
                            </ul>  
                            <ul class="md:flex justify-around flex-wrap md:flex-nowrap hidden">
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">祕法需求</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">{{ARCInfoRender[0]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">{{ARCInfoRender[1]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">{{ARCInfoRender[2]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">{{ARCInfoRender[3]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">{{ARCInfoRender[4]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">{{ARCInfoRender[5]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">{{ARCInfoRender[6]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">{{ARCInfoRender[7]}}</li>
                                <li class="text-white font-bold w-[20%] text-center lg:text-base text-xs py-2">{{ARCInfoRender[8]}}</li>
                            </ul>  
                    </div>                   
                </div>               
                <div v-if="AUTInfoRender.length !== 0">
                    <h1 class="text-2xl font-bold text-white text-center pt-4">真實符文增幅(AUT)</h1>
                    <h1 class="my-2 font-bold text-white text-center text-sm">白字:符文增幅 <span class="ml-2 text-[#FF0]">黃字</span>:自身AUT</h1>

                    <div v-if="AUTInfoRender.length >= 1">
                        <h1 class="text-2xl font-bold text-white text-center py-2">{{AUTInfoRender[0].stage}}</h1>
                        <div class="border-2 w-[95%] mx-auto max-w-[1000px] rounded-md">
                                <ul class="flex justify-around md:border-b-2 flex-wrap md:flex-nowrap">
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2">5%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2">10%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2">20%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2">30%</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[0]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[1]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[2]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[3]}}</li>                                
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">40%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">50%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">60%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">70%</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[4]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[5]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[6]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[7]}}</li>                                
                                </ul>  
                                <ul class="md:flex justify-around md:border-b-2 flex-wrap md:flex-nowrap hidden">
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[0]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[1]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[2]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[3]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[4]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[5]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[6]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[7]}}</li>
                                </ul>  
                                <ul class="flex justify-around md:border-b-2 flex-wrap md:flex-nowrap">
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">80%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">90%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">100%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">105%</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[8]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[9]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[10]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[11]}}</li>                                 
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">110%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">115%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">120%</li>
                                    <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">125%</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[12]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[13]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[14]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[0].data[15]}}</li>                                 
                                </ul>  
                                <ul class="md:flex justify-around flex-wrap md:flex-nowrap hidden">
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[8]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[9]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[10]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[11]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[12]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[13]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[14]}}</li>
                                    <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[0].data[15]}}</li>
                                </ul>  
                        </div>   
                    </div>
                    <div v-if="AUTInfoRender.length >= 2">
                        <h1 class="text-2xl font-bold text-white text-center py-2">二階</h1>
                        <div class="border-2 w-[95%] mx-auto max-w-[1000px] rounded-md">
                            <ul class="flex justify-around md:border-b-2 flex-wrap md:flex-nowrap">
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2">5%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2">10%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2">20%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2">30%</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[0]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[1]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[2]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[3]}}</li>                                
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">40%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">50%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">60%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">70%</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[4]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[5]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[6]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[7]}}</li>                                
                            </ul>  
                            <ul class="md:flex justify-around md:border-b-2 flex-wrap md:flex-nowrap hidden">
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[0]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[1]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[2]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[3]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[4]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[5]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[6]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[7]}}</li>
                            </ul>  
                            <ul class="flex justify-around md:border-b-2 flex-wrap md:flex-nowrap">
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">80%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">90%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">100%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">105%</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[8]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[9]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[10]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[11]}}</li>                                 
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">110%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">115%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">120%</li>
                                <li class="text-white font-bold w-[25%] text-center lg:text-base text-xs py-2 border-t-2 md:border-t-0">125%</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[12]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[13]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[14]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2 md:hidden">{{AUTInfoRender[1].data[15]}}</li>                                 
                            </ul>  
                            <ul class="md:flex justify-around flex-wrap md:flex-nowrap hidden">
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[8]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[9]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[10]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[11]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[12]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[13]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[14]}}</li>
                                <li class="text-[#FF0] font-bold w-[25%] text-center lg:text-base text-xs py-2">{{AUTInfoRender[1].data[15]}}</li>
                            </ul>  
                    </div>                    
                    </div>
                      
                </div>               
                <div class="hidden">
                    <h1 class="text-2xl font-bold text-white text-center py-4">特殊條件</h1>
                    <ol class="list-decimal lg:max-w-[1000px] mx-auto max-w-[600px] pl-8">
                        <li class="text-white">常駐減傷 15%</li>
                        <li class="text-white">每分鐘恢復血量1% (500億)</li>
                    </ol>

                </div>                   
                <!-- BossBonusGeneral -->
                <div v-if="BonusInfoAbsoluteRender.length !==0 ">
                    <h1 class="text-2xl font-bold text-white text-center py-4">基本掉落物</h1>
                    <div class="bg-[#ffcb99] w-[95%] mx-auto max-w-[1000px] rounded-md">
                        <ul class="py-4">
                            <li class="h-[65px] flex items-center">
                                <div class="flex items-center w-[45%] max-w-[380px]">
                                    <img class="w-[35px] mx-4" src="./img/item/強烈的力量結晶.png" alt="">
                                    <p class="font-bold md:text-base text-xs">強烈的力量結晶</p>
                                </div>
                                <div class="ml-2 flex flex-col space-y-2 w-[30%] md:relative -left-12 md:w-[20%]">
                                    <span class="font-bold relative md:text-base text-xs">一般伺服器: <span class="absolute left-[55%] w-[150px] text-center">{{BonusInfoAbsoluteRender.money}}</span></span>
                                    <span class="font-bold relative md:text-base text-xs">ReBoot伺服器: <span class="absolute left-[55%] w-[150px] text-center">{{BonusInfoAbsoluteRender.RbMoney}}</span></span>
                                </div>
                            </li>
                            <li class="h-[65px] flex items-center">
                                <div class="flex items-center w-[38%]">
                                    <img class="w-[35px] mx-4 scale-125" :src="`./img/item/可疑的方塊.png`" alt="">
                                    <p class="font-bold md:text-base text-xs">可疑的方塊</p>
                                </div>
                                <div class="ml-2 flex flex-col space-y-2 w-[30%] md:relative -left-12">
                                    <p class="font-bold text-xl lg:text-2xl">x{{BonusInfoAbsoluteRender.cubeNum}}</p>
                                </div>
                            </li>
                            <li class="h-[65px] flex items-center">
                                <div class="flex items-center w-[38%]">
                                    <img class="w-[35px] mx-4 scale-125" :src="`./img/item/可疑的附加方塊.png`" alt="">
                                    <p class="font-bold md:text-base text-xs">可疑的附加方塊</p>
                                </div>
                                <div class="ml-2 flex flex-col space-y-2 w-[30%] md:relative -left-12">
                                    <p class="font-bold text-xl lg:text-2xl">x{{BonusInfoAbsoluteRender.addcubeNum}}</p>
                                </div>
                            </li>
                            <li class="h-[65px] flex items-center">
                                <div class="flex items-center w-[38%]">
                                    <img class="w-[35px] mx-4" src="./img/item/艾爾達氣息.png" alt="">
                                    <p class="font-bold md:text-base text-xs">艾爾達氣息</p>
                                </div>
                                <div class="ml-2 flex flex-col space-y-2 w-[30%] md:relative -left-12">
                                    <p class="font-bold text-xl lg:text-2xl">x{{BonusInfoAbsoluteRender.hexa}}</p>
                                </div>
                            </li>
                            <li class="h-[65px] flex items-center">
                                <div class="flex items-center w-[25%]">
                                    <p class="font-bold md:text-base text-xs mx-auto">其他</p>
                                </div>
                                <div class="relative md:relative">
                                    <p class="font-bold w-[300px] lg:w-[650px]">
                                        <span class="mx-1 text-xs" v-for="list in BonusInfoAbsoluteRender.other" :key="list">
                                            {{list}}
                                        </span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                </div>
                <div v-if="BonusInfoParticularRender.length !==0 ">
                    <h1 class="text-2xl font-bold text-white text-center py-4">獎勵類掉落物</h1>
                    <div class="bg-[#ffcb99] w-[95%] mx-auto max-w-[1000px] rounded-md">
                        <div class="space-y-2">
                            <ul class="row flex justify-around w-full">
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/太初.png" alt="">
                                    <span class="font-bold text-sm md:text-base">太初</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[0].active}}</span>
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/名譽.png" alt="">
                                    <span class="font-bold text-sm md:text-base">名譽</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[1].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/小經驗.png" alt="">
                                    <span class="font-bold text-sm md:text-base">小經驗</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[2].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/天氣50.png" alt="">
                                    <span class="font-bold text-sm md:text-base">天氣50%</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[3].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/閃藍.png" alt="">
                                    <span class="font-bold text-sm md:text-base">閃藍</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[4].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/閃紅.png" alt="">
                                    <span class="font-bold text-sm md:text-base">閃紅</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[5].active}}</span>
                                    
                                </li>
                            </ul>
                            <ul class="row flex justify-around w-full">
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/紅火.png" alt="">
                                    <span class="font-bold text-sm md:text-base">紅火</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[6].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/紫火.png" alt="">
                                    <span class="font-bold text-sm md:text-base">紫火</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[7].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/黑火.png" alt="">
                                    <span class="font-bold text-sm md:text-base">黑火</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[8].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/強力.png" alt="">
                                    <span class="font-bold text-sm md:text-base">強力</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[9].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/永遠.png" alt="">
                                    <span class="font-bold text-sm md:text-base">永遠</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[10].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/暗黑.png" alt="">
                                    <span class="font-bold text-sm md:text-base">暗黑</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[11].active}}</span>
                                    
                                </li>
                            </ul>
                            <ul class="row flex justify-around w-full">
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/優質武器.png" alt="">
                                    <span class="font-bold text-sm md:text-base">優質武器</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[12].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/優質飾品.png" alt="">
                                    <span class="font-bold text-sm md:text-base">優質飾品</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[13].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/優質寵物.png" alt="">
                                    <span class="font-bold text-sm md:text-base">優質寵物</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[14].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/優質飾品.png" alt="">
                                    <span class="font-bold text-sm md:text-base">飾品</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[15].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/混沌.png" alt="">
                                    <span class="font-bold text-sm md:text-base">驚訝混沌</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[16].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/匠人.png" alt="">
                                    <span class="font-bold text-sm md:text-base">匠人氣息</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[17].active}}</span>
                                    
                                </li>
                            </ul>
                            <ul class="row flex justify-around w-full">
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/綠玉.png" alt="">
                                    <span class="font-bold text-sm md:text-base">綠玉</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[18].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/紅玉.png" alt="">
                                    <span class="font-bold text-sm md:text-base">紅玉</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[19].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/黑玉.png" alt="">
                                    <span class="font-bold text-sm md:text-base">黑玉</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[20].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/白玉.png" alt="">
                                    <span class="font-bold text-sm md:text-base">白玉</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[21].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/紅祈禱.png" alt="">
                                    <span class="font-bold text-sm md:text-base">紅祈禱</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[22].active}}</span>
                                    
                                </li>
                                <li class="flex flex-col items-center w-1/6">
                                    <img class="md:scale-100 scale-90"  src="./img/item/綠祈禱.png" alt="">
                                    <span class="font-bold text-sm md:text-base">綠祈禱</span>
                                    <span class="bg-[#ccffcc] inline-block w-full text-center font-bold md:text-xl text-sm ">{{BonusInfoParticularRender[23].active}}</span>
                                    
                                </li>
                            </ul>
                        </div>
                    </div> 

                </div>
                <!-- <div v-if="BonusInfoImportantRender.length !==0"> -->
                <div v-if="BonusInfoImportantRender.length !== 0">
                    <h1 class="text-2xl font-bold text-white text-center py-4">特殊類掉落物</h1>
                    <div class="bg-[#ffcb99] w-[95%] mx-auto max-w-[1000px] rounded-md">
                    <ul class="">
                        <li 
                        class="h-[60px] flex items-center"
                        v-for="list in BonusInfoImportantRender"
                        :key="list.bindkey"
                        >
                            <div class="w-[15%]">
                                <img  class="mx-auto" :src="`./img/item/${list.urlName}.png`" alt="">
                            </div>
                            <span class="inline-block w-[25%] font-bold text-center" >{{list.ItemCategory}}</span>
                            <span class="inline-block w-[60%] font-bold" >{{list.ItemName}}</span>
                        </li>
                    </ul>
                    </div>
                </div>
        </main>
        <footer class="fixed w-full bottom-0  bg-black space-x-4 text-center px-8 mt-4 flex items-center">
            <div class="md:w-[300px] w-[150px] inline-block">
                <span class="text-sm text-white">網頁製作: 池雲寅 </span>
                <span class="text-sm text-white hidden lg:inline-block">最後更新日期: 2024/02/24 </span>
            </div>
            <span class="text-sm text-white absolute right-4">
                <span class="hidden md:inline-block">資料來源: </span>
            <a class="text-[#ff0]" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ4fUZewbIUVC2bJbUN3sEIk-R03D40EY5_9icDMSRXv16KJCp65bis2CHGA9E0JgKIrnx2n-QPoBuB/pubhtml#" target="_blank">楓之谷全Boss資訊(音奈製作)</a>
            </span>
        </footer>
    </div>
    <!-- Object.groupBy為較新api 要串接此CDN -->
    <script crossorigin="anonymous" integrity="sha512-4onBOReBl8Ahp9q5ckJwB70wFMa1q74/L2TDh/Lpk0f26ftYp7DPM7KXJheocprl4cicFk9ZshZ8V/Gwkv1ccA==" src="https://lib.baomitu.com/core-js/3.35.0/minified.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- vue -->
    <script src="./js/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>