*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}
$markTxt : rgb(255, 60, 0);
@mixin BonusSubtitleType{
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 33px;
    border-bottom: 1px solid #FFF;
    background: #444;
    border-radius: 0.5rem 0.5rem 0 0;
    

    &::after{
        transition: 0.2s;
        content: url(../img/arrow_white2.png);
        position: absolute;
        top: 50%;
        right: 310px;
        transform: translateY(-40%) rotateX(180deg) ;
    }
    &.arrowReverse{
        transition: 0.2s;
        &::after{
            content: url(../img/arrow_white2.png);
            position: absolute;
            top: 50%;
            right: 310px;
            transform: translateY(-60%) rotateX(0deg);       
             
        }
    }   
}

@mixin BonuslistStyle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    border-bottom: none;    
}
@mixin cross{

    .bar{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        display: inline-block;
        width: 27px;
        height: 7px;
        background: #FFFFFF;
        border-radius: 10px;

    }
    .bar2{
        transform: translate(-50%,-50%) rotate(-45deg);
    }    
}

body,html{
    // background: linear-gradient(0deg, #000 0%, #555 50% ,#222 100%);
    // background: #4F4F4F;
    background: url("../img/testBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    // overflow: hidden;
    &::-webkit-scrollbar{
        display: none;
    }
    
}
.loading{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: #000;
    h1{
        width: 100%;
        position: absolute;
        z-index: 1000;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 27pt;
        color: #FFF;
    }
}
.menu{
    // display: none;
    user-select: none;
    #bossMenuBtn{
        position: fixed;
        z-index: 2;
        top: 2rem;
        left: 2rem;
        width: 180px;
        height: 70px;
        border-radius: 5px;
        text-align: center;
        line-height: 70px;
        font-size: 30px;
        font-weight: bold;
        // display: none;
        background: #444;
        color: #FFF;
        box-shadow: 1px 2px 3px #777;
        transition: 0.5s;
        &.act{
            transition: 0s;
            border-radius: 5px;
            // background: #AAA

        }
        &:hover{
            transition: 0s;
            border-radius: 5px 5px 0 0;
            box-shadow: none;
            background: #000000              

        }
        &:active{
            transition: 0s;
            border-radius: 5px 5px 0 0;
            background: #000000              

        }
    }

    .pcNav{
        position: fixed;
        z-index: 3;
        top: 3px;
        width: 500px;
        left: -500px;
        height: 100vh;
        border-radius: 0px 20px 0px 0px;
        background: #333333;
        transition: 0.3s;
        .bossList{
            color: #FFF;
            .navback{
                cursor: pointer;
                position: absolute;
                right: 8px;
                top: 8px;
                width: 30px;
                height: 30px;
                @include cross()
            }
            .title{
                display: inline-block;
                position: absolute;
                top: 5px;
                left: 5px;
                // border: 1px solid #F00;
                border-radius: 5px;
                height: 70px;
                width: 90%;
                
                .navtitle{
                    span{
                        font-size: 27px;
                        font-weight: bold;
                        display: inline-block;
                    }
                    .txt1{
                        padding-top: 15px;
                        padding-left: 35px;
                        
                    }
                    .txt2{
                        padding-left: 177px;

                    }

                }
            }
            .pageinfo{
                .infoItem{
                    margin-top: 12px;
                    // border: 1px solid #FFF;
                    &:nth-child(1){
                        margin-top: 80px;
                    }
                    .bossImg{
                        position: relative;
                        display: inline-block;
                        // width: 135px;
                        width: 150px;
                        margin-left: 0px;
                        height: 30px;
                        transform-origin: left;
                        // transform: scale(1.2);
                        // margin-right: 50px;
                        // border: 1px solid #FFF;
                        
                        img{
                            width: 100%;
                            // display: inline-block;
                            position: absolute;
                            top: 0;
                            left: 0;
    
                        }
                    }
                    .bossGrade{
                        // display: flex;
                        position: relative;
                        left: -10px;
                        z-index: 2;
                        align-items: center;
                        .GradeItem{
                            display: inline-block;
                            margin-left: 20px;
                            img{
                                border-radius: 10px;
                            }


                            img:hover{
                                box-shadow: 0 0 7px #ffffff;
                            }


                            &:nth-child(1){
                                margin-left: 15px;
                            }

                        }
                    }
                }
                
    
            }
            .pagelist{
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: space-between;
                width: 95%;
                border: 1px solid #F0F;
                span{
                    display: inline-block;
                    margin: 3px;
                }
                .backbtn,.nextbtn{
                    cursor: pointer;
                    width: 55px;
                    height: 55px;
                    border: 1px solid #F00;

                }
                .pagecontent{
                    position: relative;
                    top: 10px;

                }
                .nextbtn{

                }
                
            }
    
    
    
        }
    }
    .phoneNav{
        position: absolute;
        top: 0;
        left: 0;
        background: #222;
        width: 350px;
        height: 99vh;
        margin-top: 3px;
        margin-left: 7px;
        display: none;
        color: #FFF;
        .searchbar{
            position: absolute;
            top: 10px;
            left: 20px;
            input{
                padding: 10px 20px;
                width: 300px;
            }

        }
        .navback{
            position: absolute;
            right: 8px;
            top: 8px;
            width: 30px;
            height: 30px;
            // border: 1px solid #F00;
            .bar{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(45deg);
                display: inline-block;
                width: 27px;
                height: 7px;
                background: #FFFFFF;
                border-radius: 10px;
            }
            .bar2{
                transform: translate(-50%,-50%) rotate(-45deg);
            }
        } 
        .bossinfo{
            display: flex;
            margin-top: 100px;
            // justify-content: space-around;
            flex-wrap: wrap;
            .infoitem,.infoitem.err{
                position: relative;
                width: 30%;
                height: 120px;
                margin-top: 50px;
                margin-left: 2.5%;
                .imgbox{
                    position: absolute;
                    top: 0;
                    display: inline-block;
                    width: 100%;
                    height: 110px;
                    border-radius: 15px;
                    border: 1px solid #EEE;
                    overflow: hidden;
                    img{
                        
                    }
                }
                span{
                    width: 100%;
                    position: absolute;
                    display: inline-block;
                    text-align: center;
                    font-size: 10px;
                    // border: 1px solid #FFF;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);

                }
            }
            .infoitem.err{
                .itemtxt{
                    width: 500px;

                }
            }
        }       
    }




}

.sectionTagBox{
    // display: none;
    user-select: none;
    position: fixed;
    z-index: 2;
    top: 10rem;
    left: 2rem;
    width: 13rem;
    padding: 1rem;
    font-weight: bold;
    background: #444;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 5px #777;
    .taglist{
        .tagitem{
            cursor: pointer;
            font-size: 1.27rem;
            padding-top: 0.5rem;
            color: #888;
            transition: 0.3s;
            &.act{
                color: #FFF
            }
            &:hover{
                transition: 0.3s;
                color: #FFF
            }

        }
    }
}

.bossContainer{
    &.load{
        display: none;
    }
    // display: none;
    width: 100%;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    margin-bottom: 200px;
    section{
        // display: none;
        padding: 1rem;
        background-color: #222;
        box-shadow: 0px 3px 20px #777;
        border-radius: 1rem;
        width: 1200px;
        transform-origin: top;
        margin: 0 auto;
        position: relative;
        // max-height: 95vh;
        top: 100px;
        .GradeList{
            // display: none;
            position: absolute;
            top: 3rem;
            right: 3rem;
            z-index: 2;
            user-select: none;
            cursor: pointer;
            #GradeVal{
                display: inline-block;
                width: 10rem;
                border: 1px solid #FFF;
                background: linear-gradient(120deg, #6d6d6d 0%, #2f2f2f 25%);                
                &:after{
                    display: inline-block;
                    position: absolute;
                    right: 10px;
                    // content: url(../img/boss/arrow_white.png);
                    transform: rotate(90deg);
                }
            }
            li{
                text-align: center;
                position: relative;
                top: -1rem;
                border: 1px solid #FF0;
                width: 10rem;
                font-weight: bold;
                font-size: 2rem;
                img{
                    display: inline-block;
                    // width: 100%;

                }
            }
            .misstionTime{
                display: block;
            }

        }
        
        .title{
            width: 30%;
            margin: auto;
            margin-top: 1rem;
            padding: 0.7rem;
            border: 1px solid #F00;
            border-radius: 0.4rem;
            padding: 1rem;
            
        }

    }

    .bossIntro{
        .content{
            display: flex;
            margin-top: 20px;
            padding-bottom: 3rem;
            justify-content: center;
            .bossImg{
                // text-align-last: left;
                width: 50%;
                img{
                    width: 70%;
                }
            }
            .bosstxt{
                position: relative;
                width: 50%;
                font-weight: bold;
                // border: 1px solid #F00;
                border-radius: 1rem;
                background: #444;
                // box-shadow: 2px 1px 7px #EEE;
                padding-bottom: 2rem;
                .bosstxtList{
                    width: 95%;
                    margin: auto;
                    text-align-last: left;
                    // display: none;
                    padding-left: 1rem;
                    li{
                        padding-top: 1.5rem;
                        font-size: 1.4rem;
                        span{
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }
    }
    .bossData{
        .content{
            display: flex;
            justify-content: center;
            .stagecont{
                width: 50%;
                margin-top: 1rem;
                margin: 2rem 1%;
                padding: 1rem 0 1.5rem;
                background: #6d6d6d;
                background: #2f2f2f;
                background: linear-gradient(135deg, #6d6d6d 0%, #2f2f2f 30%);
                border: 1px solid #DDD;
                border-radius: 7px;
                .stagetitle{
                    text-align: center;
                    margin-bottom: 1rem;
                }
                .stageinfo{
                    
                    text-align-last: left;
                    li{
                        font-weight: bold;
                        font-size: 1.27rem;
                        padding: 1rem 1rem 0rem;
                        span{
                            position: relative;
                            left: 7px;
                        }
                    }
                    img{
                        position: relative;
                        top: 5px;
                        left: 5px;
                    }
                }
            }
        }
        .moscontent{
            .mosTitle{
                margin-top: 1rem;
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-around;
                li{
                    width: 30%;
                    span{
                        font-size: 24px;
                        font-weight: bold;
    
                    }
                }
            }
            .mosterinfo{
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 1.5rem;
                border: 1px solid #FFF;
                background: linear-gradient(135deg, #6d6d6d 0%, #2f2f2f 15%);
                padding: 0.5rem 0;
                li{
                    display: inline-block;
                    width: 30%;
                    // border: 1px solid #F00;
                    img{
                        position: relative;
                        margin-top: 0.2rem;
                        margin-bottom: 0.5rem;
                    }
                    span{
                        display: block;
                        font-size: 19px;
                        font-weight: bold;
                        margin-top: 3px;

                        
                    }
                }
            }

        }

        .damageRef{
            .arcDamageTable,.autDamageTable{
                margin: 1rem 2rem;
                .tableTitle{
                    width: 30%;
                    margin: auto;
                    margin-top: 1rem;
                    border: 1px solid #F00;
                    border-radius: 0.4rem;
                    padding: 1rem;
    
                }
                .stage{
                    position: relative;
                    top: 0.5rem;
                }
    
                ul{
                    // border: 1px solid #FF0;
                    margin: 1rem;
                    padding: 0.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .listTitle{
                        background: #111;
                        font-weight: bold;
                        span{
    
                        }
                        
                    }
                    li{
                        width: 100px;
                        // border: 1px solid #F00;
                        height: 80px;
                        background: #444;
                        position: relative;
                        font-size: 1.35rem;
                        padding-top: 7px;
                        margin-top: 7px;
                        font-weight: bold;
    
                        &::after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 2px;
                            background: #FFFFFF;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
    
                        }
                        &.none{
                            span{
                                opacity: 0;
                            }
                        }
    
    
                        span{
                            display: block;
                            width: 100px;
                            position: absolute;
                            bottom: 7px;
                            left: 50%;
                            transform: translateX(-50%);
                            &.mark{
                                color: $markTxt
                            }
    
                        }
                    }
                }
            }
            .arcDamageTable{
                // display: none;
                .arcList{
                    .listTitle{
    
                    }
                    .item{
                        .mark{
    
                        }
                    }
                }
    
            }
            .autDamageTable{
                // display: none;
                .autList{
                    flex-wrap: wrap;
                    justify-content: start;
                }
            }
    
    
        }
    }
    
    .bossBonus{
        font-weight: bold;
        .generalBonus,.majorBonus{
            background: #333;
            width: 80%;
            margin: auto;
            margin-top: 1rem;
            padding-bottom: 0.5rem;
            border-radius: 0.5rem;
            .subtitle{
                @include BonusSubtitleType()
                
            }
            .generalcontaner{
                display: flex;
                justify-content: space-around;
    
                .fixedItem,.notfixedItem{
                    // border: 1px solid #F00;
                    // background: #CCC;
                    border-radius: 0.5rem;
                    width: 45%;
                    margin-top: 1rem;
                    padding: 0.5rem 0 1rem;
                    p{
                        margin-top: 0.3rem;
                        font-size: 1.25rem;
                    }
                    .pointItem{
                        display: flex;
                        margin: 0.5rem 0;
                        justify-content: space-around;
                        .guildPoint,.mileage{
                            user-select: none;
                            width: 45%;
                            height: 60px;
                            line-height: 60px;
                            background: linear-gradient(135deg, #6d6d6d 0%, #2f2f2f 30%);
                            border: 1px solid #FFF;
                            display: inline-block;
                            position: relative;
                            text-align: left;
                            padding-left: 15px;
                            font-size: 23px;
                            span{
                                position: absolute;
                                right: 16px;
                            }
                        }
                    }
    
                    }
                    .moneyItem{
                        .moneytitle{
                            margin-top: 1rem;
                            width: 100%;
                            // border: 1px solid #FFF;
                            img{
                                width: 100%;
                                transform: scale(0.85);
                            }   
                        }
                        .moneyVal{
                            .normalServe,.Reboot{
                                border: 1px solid #FFF;
                                width: 80%;
                                margin: auto;
                                position: relative;
                                background: linear-gradient(135deg, #6d6d6d 0%, #2f2f2f 40%);
                                padding: 0.7rem 0;
                                .serveTxt{
                                    font-size: 23px;
                                    padding-bottom: 0.7rem;
                                    // border-bottom: 1px solid #FFF;
                                }
                                span{
                                    font-size: 21px;
                                    display: block;
                                }
                            }
                        }
    

                }
                .notfixedItem{
                    text-align: left;
                    padding-left: 2rem;
                    padding-top: 1.5rem;
                    li{
                        padding-bottom: 1.5rem;
                        img{
                            width: 45px;
                            height: 45px;
                            transform: scale(1.1);
                            position: relative;
                            top: 10px;
                        }
                        span{
                            padding-left: 1rem;
                            font-size: 22px;
                        }
                        .countTxt{
                            padding-left: 0;
                            position: relative;
                            left: 3px;
                        }
                    }
    
                }
                &.close{
                    display: none;
                }
            }


        }   
        .majorBonus{
            margin-top: 2rem;
            .subtitle{
                // display: none;
                @include BonusSubtitleType()
                
            }
            .suuAfterItemBox{
                &.close{
                    display: none;
                }
                .suuAfterList{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: auto;
                    margin-top: 2rem;
                    width: 90%;
                    
                    .item{
                        width: 16%;
                        // background: #5b5b5b;
                        text-align: center;
                        padding: 0.5rem;
                        margin-top: 0.5rem;
                        background: url(../img/ItemBox.jpg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 3px;
                        // border: 1px solid #F00;
                        
                        .itemImg{
                            margin: auto;
                            width: 45px;
                            height: 45px;
                            transform: scale(1.1);
                            img{
                                width: 100%;
                            }
                        }
                        .itemtxt{
                            font-size: 14px;
                            margin: 0.5rem 0;
                            // background: linear-gradient(90deg, transparent 10%, #000 50% , transparent 90%);
                            .frameval{
                                font-size: 13px;
                            }
                        }
                        .itemavailable{
                            img{
                                transform: scale(0.75);
                            }
                        }
                    }
                }
            }

            .majorBox{
                &.close{
                    display: none;
                }
                .majorList{
                    
                    li{
                        span{
                            // border: 1px solid #F00;
                            width: 40%;
                            font-size: 18px;
                            font-weight: bold;

                        }
                        span:nth-child(1){
                            width: 20%;
                        }
                        span:nth-child(2){
                            width: 20%;
                        }
                        @include BonuslistStyle()
                    }
                    .listTitle{
                        background: #444;
                        span{
                            font-weight: bold;
                            font-size: 20px;
                        }
                    }
                    .listItem{
                        padding: 2rem 0;
                        border-bottom: 1px solid #CCC;
                        span{
                            position: relative;
                            .dash{
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                display: block;
                                width: 23px;
                                height: 5px;
                                border-radius: 2px;
                                background: #CCC;
                                position: relative;
                                top: -3px;
                            }
                            a{
                                display: block;
                                color: #FFF;

                            }
                        }
                        .infoIcon{
                            margin: auto;
                            display: block;
                            width: 30px;
                            cursor: pointer;
                        }
                        .itemIcon{
                            width: 45px;
                            height: 45px;
                        }
                        &:last-child{
                            border-bottom: none;
                        }
                    }

                }
            }  
        }  
       

    }
    .otherBonusInfo{
        .BonusInfoContainer{

            .BonusBox{
                position: relative;
                

                .dark{
                    background-color: #000;
                    position: fixed;
                    z-index: 99;
                    width: 100%;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    opacity: 0.7;

                }

                .content{
                    border: 1px solid #F00;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    z-index: 1000;

                    .BonusBoxCross{
                        cursor: pointer;
                        position: absolute;
                        right: 2rem;
                        top: 2rem;
                        width: 30px;
                        height: 30px;
                        @include cross()
                        
                    }                    
                    .setImg{
                        position: fixed;
                        z-index: 100;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50% , -50%);
                    }
                    .careerList{
                    }
                }
            }
            .BonusInfoList{
                width: 80%;
                margin: auto;
                margin-top: 1rem;
                padding-bottom: 0.5rem;
                border-radius: 0.5rem;      
                .BonusInfoItem{
                    .NobonusDataTxt{
                        font-weight: bold;
                        font-size: 30px;
                    }
                    .subtitle{
                        margin-top: 2rem;
                        @include BonusSubtitleType()
                    }
                    .content{
                        background: #333;
                        position: relative;

                        &.close{
                            display: none;
                        }
                        p{
                            // 家具
                            .furniture{
                                margin-top: 1rem;
                            }
                            
                        }
                        .coinHowChange,.coinWhereChange,.coinChangeNPC{
                            > span:nth-child(1) {
                                position: absolute;
                                font-size: 20px;
                                font-weight: bold;
                                left: 1rem;
                            }
                        }
                        .coinHowChange{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 0.5rem;
                            .icon{
                                margin: 1rem;
                                width: 45px;
                                height: 45px;
                                border-radius: 5px;
                                overflow: hidden;

                            }
                            .plus,.equal{
                                margin-left: 10px;
                                font-weight: bold;
                            }
                            span{
                               
                            }
                        }
                        .coinWhereChange{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 0.5rem;
                            span{
                                margin-right: 1rem;
                            }
                            .orTxt{
                                font-size: 30px;
                                font-weight: bold;
                                margin: 1rem;
                            }

                        }
                        .coinChangeNPC{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 0.5rem;
                            img{
                                width: 120px;
                                height: 120px;
                                border-radius: 5px;
                                overflow: hidden;
                            }

                        }
                        


                        // set
                        .setLink{
                            cursor: pointer;
                            position: relative;
                            display: inline-block;
                            font-size: 22px;
                            color:  #FFF;
                            border: 1px solid #CCC;
                            background: linear-gradient(135deg, #6d6d6d 0%, #2f2f2f 30%);
                            border-radius: 10px;
                            margin: 1rem 0;
                            width: 225px;
                            height: 60px;
                            line-height: 60px;
                            
                            .lookIcon{
                                position: absolute;
                                left: 1rem;
                                transform: scale(0.6) rotate(-3deg);
                            }
                            span{
                                position: absolute;
                                top: 0;
                                left: 60%;
                                transform: translateX(-60%);
                                display: inline-block;
                            }
                        }
                        .setList{
                            li{
                                span{
                                    display: inline-block;
                                    width: 25%;
                                }
                                @include BonuslistStyle()
                            }
                            .setItemTitle{
                                background: #444;
                                span{
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                            }
                            .setItem{
                                padding: 2rem 0;
                                border-bottom: 1px solid #CCC;
                                img{
                                    width: 45px;
                                    height: 45px;
                                }
                                .lookIcon{
                                    cursor: pointer;
                                    transform: scale(0.6) rotate(-3deg);
                                }
                                span{
                                }
                                a{
                                    color: #FFF;
                                    text-decoration: underline;
                                }
                            }
                        }                        

                    }

                }


            }

        }

    }
}


