* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

footer {
  display: none;
}

body, html {
  background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(50%, #555), to(#222));
  background: linear-gradient(0deg, #000 0%, #555 50%, #222 100%);
  position: relative;
  overflow: hidden;
  height: 100%;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;
}

.menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu #bossMenuBtn {
  position: fixed;
  z-index: 2;
  top: 2rem;
  left: 2rem;
  width: 180px;
  height: 70px;
  border-radius: 5px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  font-weight: bold;
  background: #444;
  color: #FFF;
  -webkit-box-shadow: 1px 2px 3px #777;
          box-shadow: 1px 2px 3px #777;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu #bossMenuBtn.act {
  -webkit-transition: 0s;
  transition: 0s;
  border-radius: 5px;
}

.menu #bossMenuBtn:hover {
  -webkit-transition: 0s;
  transition: 0s;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #000000;
}

.menu #bossMenuBtn:active {
  -webkit-transition: 0s;
  transition: 0s;
  border-radius: 5px 5px 0 0;
  background: #000000;
}

.menu .pcNav {
  position: absolute;
  z-index: 3;
  top: 3px;
  width: 500px;
  left: -500px;
  height: 100vh;
  border-radius: 0px 20px 0px 0px;
  background: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .pcNav .bossList {
  color: #FFF;
}

.menu .pcNav .bossList .navback {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.menu .pcNav .bossList .navback .bar {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  display: inline-block;
  width: 27px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 10px;
}

.menu .pcNav .bossList .navback .bar2 {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.menu .pcNav .bossList .title {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 5px;
  height: 70px;
  width: 90%;
}

.menu .pcNav .bossList .title .navtitle span {
  font-size: 27px;
  font-weight: bold;
  display: inline-block;
}

.menu .pcNav .bossList .title .navtitle .txt1 {
  padding-top: 15px;
  padding-left: 35px;
}

.menu .pcNav .bossList .title .navtitle .txt2 {
  padding-left: 177px;
}

.menu .pcNav .bossList .pageinfo .infoItem {
  margin-top: 12px;
}

.menu .pcNav .bossList .pageinfo .infoItem:nth-child(1) {
  margin-top: 80px;
}

.menu .pcNav .bossList .pageinfo .infoItem .bossImg {
  position: relative;
  display: inline-block;
  width: 150px;
  margin-left: 7px;
  height: 30px;
  -webkit-transform-origin: left;
          transform-origin: left;
  margin-right: 50px;
}

.menu .pcNav .bossList .pageinfo .infoItem .bossImg img {
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.menu .pcNav .bossList .pageinfo .infoItem .bossGrade {
  position: relative;
  left: -50px;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .pcNav .bossList .pageinfo .infoItem .bossGrade .GradeItem {
  display: inline-block;
  margin-left: 27px;
}

.menu .pcNav .bossList .pageinfo .infoItem .bossGrade .GradeItem img {
  border-radius: 10px;
}

.menu .pcNav .bossList .pageinfo .infoItem .bossGrade .GradeItem img:hover {
  -webkit-box-shadow: 0 0 7px #ffffff;
          box-shadow: 0 0 7px #ffffff;
}

.menu .pcNav .bossList .pageinfo .infoItem .bossGrade .GradeItem:nth-child(1) {
  margin-left: 15px;
}

.menu .pcNav .bossList .pagelist {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  border: 1px solid #F0F;
}

.menu .pcNav .bossList .pagelist span {
  display: inline-block;
  margin: 3px;
}

.menu .pcNav .bossList .pagelist .backbtn, .menu .pcNav .bossList .pagelist .nextbtn {
  cursor: pointer;
  width: 55px;
  height: 55px;
  border: 1px solid #F00;
}

.menu .pcNav .bossList .pagelist .pagecontent {
  position: relative;
  top: 10px;
}

.menu .phoneNav {
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  width: 350px;
  height: 99vh;
  margin-top: 3px;
  margin-left: 7px;
  display: none;
  color: #FFF;
}

.menu .phoneNav .searchbar {
  position: absolute;
  top: 10px;
  left: 20px;
}

.menu .phoneNav .searchbar input {
  padding: 10px 20px;
  width: 300px;
}

.menu .phoneNav .navback {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.menu .phoneNav .navback .bar {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  display: inline-block;
  width: 27px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 10px;
}

.menu .phoneNav .navback .bar2 {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.menu .phoneNav .bossinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .phoneNav .bossinfo .infoitem, .menu .phoneNav .bossinfo .infoitem.err {
  position: relative;
  width: 30%;
  height: 120px;
  margin-top: 50px;
  margin-left: 2.5%;
}

.menu .phoneNav .bossinfo .infoitem .imgbox, .menu .phoneNav .bossinfo .infoitem.err .imgbox {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 110px;
  border-radius: 15px;
  border: 1px solid #EEE;
  overflow: hidden;
}

.menu .phoneNav .bossinfo .infoitem span, .menu .phoneNav .bossinfo .infoitem.err span {
  width: 100%;
  position: absolute;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu .phoneNav .bossinfo .infoitem.err .itemtxt {
  width: 500px;
}

.sectionTagBox {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 2;
  top: 10rem;
  left: 2rem;
  width: 13rem;
  padding: 1rem;
  font-weight: bold;
  background: #444;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 3px 5px #777;
          box-shadow: 0px 3px 5px #777;
}

.sectionTagBox .taglist .tagitem {
  cursor: pointer;
  font-size: 1.27rem;
  padding-top: 0.5rem;
  color: #888;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sectionTagBox .taglist .tagitem.act {
  color: #FFF;
}

.sectionTagBox .taglist .tagitem:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFF;
}

.bossContainer {
  width: 100%;
  text-align: center;
  color: #FFF;
}

.bossContainer section {
  display: none;
  padding: 1rem;
  background-color: #222;
  -webkit-box-shadow: 0px 3px 5px #777;
          box-shadow: 0px 3px 5px #777;
  border-radius: 1rem;
  width: 1200px;
  position: absolute;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.bossContainer section .GradeList {
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.bossContainer section .GradeList #GradeVal {
  display: inline-block;
  width: 10rem;
  border: 1px solid #FFF;
}

.bossContainer section .GradeList #GradeVal:after {
  display: inline-block;
  position: absolute;
  right: 10px;
  content: url(../img/boss/arrow_white.png);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.bossContainer section .GradeList li {
  text-align: center;
  position: relative;
  top: -1rem;
  border: 1px solid #FF0;
  width: 10rem;
  font-weight: bold;
  font-size: 2rem;
}

.bossContainer section .GradeList li img {
  display: inline-block;
}

.bossContainer section .GradeList .misstionTime {
  display: block;
}

.bossContainer section .title {
  width: 30%;
  margin: auto;
  margin-top: 1rem;
  padding: 0.7rem;
  border: 1px solid #F00;
  border-radius: 0.4rem;
  padding: 1rem;
}

.bossContainer .bossIntro {
  display: block;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%) scale(1);
          transform: translate(-50%, -30%) scale(1);
}

.bossContainer .bossIntro .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-bottom: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bossContainer .bossIntro .content .bossImg {
  width: 50%;
}

.bossContainer .bossIntro .content .bossImg img {
  width: 70%;
}

.bossContainer .bossIntro .content .bosstxt {
  position: relative;
  width: 50%;
  font-weight: bold;
  border-radius: 1rem;
  background: #444;
}

.bossContainer .bossIntro .content .bosstxt .bosstxtList {
  width: 95%;
  margin: auto;
  text-align-last: left;
  padding-left: 1rem;
}

.bossContainer .bossIntro .content .bosstxt .bosstxtList li {
  padding-top: 1.5rem;
  font-size: 1.4rem;
}

.bossContainer .bossIntro .content .bosstxt .bosstxtList li span {
  padding-left: 1rem;
}

.bossContainer .bossData {
  display: none;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%) scale(0.65);
          transform: translate(-50%, -15%) scale(0.65);
}

.bossContainer .bossData .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bossContainer .bossData .content .stagecont {
  width: 50%;
  margin-top: 1rem;
  margin: 2rem 2%;
  border: 1px solid #FFF;
}

.bossContainer .bossData .content .stagecont .stagetitle {
  text-align: center;
  margin-bottom: 1rem;
}

.bossContainer .bossData .content .stagecont .stageinfo {
  text-align-last: left;
}

.bossContainer .bossData .content .stagecont .stageinfo p {
  font-weight: bold;
  font-size: 1.27rem;
  padding: 0.3rem 1rem;
}

.bossContainer .damageRef {
  display: none;
  -webkit-transform-origin: top;
          transform-origin: top;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%) scale(0.65);
          transform: translate(-50%, -80%) scale(0.65);
}

.bossContainer .damageRef .arcDamageTable, .bossContainer .damageRef .autDamageTable {
  margin: 1rem 2rem;
}

.bossContainer .damageRef .arcDamageTable .tableTitle, .bossContainer .damageRef .autDamageTable .tableTitle {
  width: 30%;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid #F00;
  border-radius: 0.4rem;
  padding: 1rem;
}

.bossContainer .damageRef .arcDamageTable .stage, .bossContainer .damageRef .autDamageTable .stage {
  position: relative;
  top: 0.5rem;
}

.bossContainer .damageRef .arcDamageTable ul, .bossContainer .damageRef .autDamageTable ul {
  margin: 1rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bossContainer .damageRef .arcDamageTable ul .listTitle, .bossContainer .damageRef .autDamageTable ul .listTitle {
  background: #111;
}

.bossContainer .damageRef .arcDamageTable ul li, .bossContainer .damageRef .autDamageTable ul li {
  width: 100px;
  height: 80px;
  background: #444;
  position: relative;
  font-size: 1.2rem;
  padding-top: 7px;
  margin-top: 7px;
}

.bossContainer .damageRef .arcDamageTable ul li::after, .bossContainer .damageRef .autDamageTable ul li::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bossContainer .damageRef .arcDamageTable ul li.none span, .bossContainer .damageRef .autDamageTable ul li.none span {
  opacity: 0;
}

.bossContainer .damageRef .arcDamageTable ul li span, .bossContainer .damageRef .autDamageTable ul li span {
  display: block;
  width: 100px;
  position: absolute;
  bottom: 7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bossContainer .damageRef .autDamageTable {
  display: none;
}

.bossContainer .damageRef .autDamageTable .autList {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.bossContainer .bossBonus {
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%) scale(0.8);
          transform: translate(-50%, -15%) scale(0.8);
  font-weight: bold;
}

.bossContainer .bossBonus .generalBonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #333;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.bossContainer .bossBonus .generalBonus .subtitle {
  width: 100%;
  margin-top: 1rem;
}

.bossContainer .bossBonus .generalBonus .fixedItem, .bossContainer .bossBonus .generalBonus .notfixedItem {
  border: 1px solid #F00;
  border-radius: 0.5rem;
  width: 40%;
  padding: 0 1.5rem;
  margin-top: 1.5rem;
}

.bossContainer .bossBonus .generalBonus .fixedItem p, .bossContainer .bossBonus .generalBonus .notfixedItem p {
  margin-top: 0.3rem;
  font-size: 1.25rem;
}

.bossContainer .bossBonus .generalBonus .fixedItem .mileage::before, .bossContainer .bossBonus .generalBonus .notfixedItem .mileage::before {
  content: '';
}

.bossContainer .bossBonus .generalBonus .money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #FF0;
  position: relative;
  top: 1rem;
}

.bossContainer .bossBonus .generalBonus .money::before {
  content: '';
}

.bossContainer .bossBonus .generalBonus .money span {
  display: inline-block;
}

.bossContainer .bossBonus .generalBonus .money .moneytitle {
  width: 100%;
  border-bottom: 1px solid #FF0;
  background: #000;
}

.bossContainer .bossBonus .generalBonus .money .normalServe, .bossContainer .bossBonus .generalBonus .money .Reboot {
  width: 50%;
  background: #333;
}

.bossContainer .bossBonus .generalBonus .money .normalServe {
  border-right: 1px solid #FF0;
}

.bossContainer .bossBonus .generalBonus .money .moneyVal {
  margin-top: 0.5rem;
}

.bossContainer .bossBonus .generalBonus .money .money_chinese {
  display: block;
  width: 100%;
}

.bossContainer .bossBonus .generalBonus .notfixedItem p {
  text-align-last: left;
}

.bossContainer .bossBonus .majorBonus {
  display: none;
}

.bossContainer .otherBonusInfo {
  display: none;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%) scale(0.65);
          transform: translate(-50%, -15%) scale(0.65);
}
/*# sourceMappingURL=main.css.map */