<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        
        <div class="searchbox">
            <div class="searchBar">
                <input 
                @keyup= "searchFn" 
                @keydown= "searchItemMove"
                id="searchBar" 
                type="text" 
                placeholder="輸入髮型"
                
                
                >
                <div class="PreviewBtn">
                    <input @click= "handPreviewResult" id="PreviewBtn" type="checkbox" ><span>收尋預覽</span>
                </div>
                <div v-show= "PreviewResultFn" class="resultPreview" >
                    <ul @wheel= "searchWheelFn" id="searchlist">
                        <li 
                        v-for=" list in PreviewResult"
                        :key= "list.key"
                        :class="['previewItem', {act: list.status} ,{open: previewItem}]"
                        @mouseover= "listIshover"
                        @mouseleave= "listNothover"
                        @click= "PushResultFn"
                        v-html= "list.Html">
                    </li>
                    </ul>
                    
                </div>
            </div>

            <div class="searchResult">
                <div class="item"
                v-for= "list in showImgResult"
                :key= "list.key"
                >
                <img :src="list.url" :alt="list.key">
                    <span>{{list.key}}</span>
                </div>


        </div>
        
        <div class="imgbox">
                <img id="primaryColorImg" :src="HairPrimaryColor" alt="">
                <img id="mixedColorImg" :src="HairMixedColor" alt="混色">
                <div id="otherMixBtn">
                    <input @click = "handOtherMix" type="checkbox" v-model= "showOtherMix">
                    其他混染參考
                </div>
        </div>


        <div class="controlbox">
            <div class="colorControl">
                <div class="primaryControl">
                    <h1>基本顏色</h1>
                    <ul class="blockBox">
                        <li class="block"
                        v-for= " list in primaryListArr "
                        :key= "list.name"
                        @click= "blockColorCh"
                        >
                        <img :src= "list.url" :alt= "list.name">
                        </li>
                    </ul>
                </div>
                <div class="mixedControl">
                    <h1>混合顏色</h1>
                    <ul class="blockBox">
                        <li class="block"
                        v-for= " list in mixedListArr "
                        :key= "list.name"
                        @click= "blockColorCh"
                        >
                        <img :src= "list.url" :alt= "list.name">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="opacityControl">
                <div class="titlebox">
                    <img id="primaryselected" :src= "ratioPrimImg" alt="">
                    <h1>比例調整</h1>
                    <img id="mixedselected" :src= "ratioMixImg" alt="">
                </div>
                <div class="ratioBox">
                    <span id="primaryNum">{{ratioPrimNum}}%</span>
                    <img @click= "resetRatioFn" id="resetRatio" src="./testimg/reset.png" alt="重設">
                    <span id="mixedNum">{{ratioMixNum}}%</span>
                </div>
                <div class="controlbox">
                    <div @click= "BtnControlRatio" id="opacityRemoveBtn"></div>
                    <input id="opacityBar" type="range" min="1" max="99" v-model = "ratioMixNum">
                    <div @click= "BtnControlRatio" id="opacityAddBtn"></div>                    
                </div>

            </div>
        </div>

        <div class="otherMixbox" v-if= "showOtherMix">

            <div class="title">
                <h2>其他混染參考</h2>
                <span>均50%</span>
            </div>
            <div class="colorRow">
                <li class="block black"></li>
                <li class="block red"></li>
                <li class="block green"></li>
                <li class="block yellow"></li>
                <li class="block orange"></li>
                <li class="block blue"></li>
                <li class="block purple"></li>
                <li class="block brown"></li>
            </div>
            <div class="colorCol">
                <li class="block black"></li>
                <li class="block red"></li>
                <li class="block green"></li>
                <li class="block yellow"></li>
                <li class="block orange"></li>
                <li class="block blue"></li>
                <li class="block purple"></li>
                <li class="block brown"></li>
            </div>
            <div class="otherDisplay">
                <div class="brownRow row">
                    <div 
                    class="imgitem"
                    v-for= "list in brownRowImg"
                    :key = "list.url"
                    > 
                        <img :src="list.url" :alt="list.alt" @mouseover= "hoverRowAlt" @mouseleave= "leaveRowAlt">
                         <span :class="[{open: list.showAlt}]">{{list.alt}}</span>
                    </div>
                </div>
                <div class="purpleRow row">

                    <div 
                    class="imgitem"
                    v-for= "list in purpleRowImg"
                    :key = "list.url"
                    > 
                        <img :src="list.url" :alt="list.alt" @mouseover= "hoverRowAlt" @mouseleave= "leaveRowAlt">
                         <span :class="[{open: list.showAlt}]">{{list.alt}}</span>
                    </div>

                </div>
                <div class="blueRow row">
                    <div 
                    class="imgitem"
                    v-for= "list in blueRowImg"
                    :key = "list.url"
                    > 
                        <img :src="list.url" :alt="list.alt" @mouseover= "hoverRowAlt" @mouseleave= "leaveRowAlt">
                         <span :class="[{open: list.showAlt}]">{{list.alt}}</span>
                    </div>
                </div>
                <div class="orangeRow row">
                    <div 
                    class="imgitem"
                    v-for= "list in orangeRowImg"
                    :key = "list.url"
                    > 
                        <img :src="list.url" :alt="list.alt" @mouseover= "hoverRowAlt" @mouseleave= "leaveRowAlt">
                         <span :class="[{open: list.showAlt}]">{{list.alt}}</span>
                    </div>
                </div>
                <div class="yellowRow row">
                    <div 
                    class="imgitem"
                    v-for= "list in yellowRowImg"
                    :key = "list.url"
                    > 
                        <img :src="list.url" :alt="list.alt" @mouseover= "hoverRowAlt" @mouseleave= "leaveRowAlt">
                         <span :class="[{open: list.showAlt}]">{{list.alt}}</span>
                    </div>
                </div>
                <div class="greenRow row">
                    <div 
                    class="imgitem"
                    v-for= "list in greenRowImg"
                    :key = "list.url"
                    > 
                        <img :src="list.url" :alt="list.alt" @mouseover= "hoverRowAlt" @mouseleave= "leaveRowAlt">
                         <span :class="[{open: list.showAlt}]">{{list.alt}}</span>
                    </div>
                </div>
                <div class="redRow row">
                    <div 
                    class="imgitem"
                    v-for= "list in redRowImg"
                    :key = "list.url"
                    > 
                        <img :src="list.url" :alt="list.alt" @mouseover= "hoverRowAlt" @mouseleave= "leaveRowAlt">
                        <span :class="[{open: list.showAlt}]">{{list.alt}}</span>
                        
                    </div>
                </div>
                
                <div class="blackRow row">
                    <div 
                    class="imgitem"
                    v-for= "list in blackRowImg"
                    :key = "list.url"
                    > 
                        <img :src="list.url" :alt="list.alt" @mouseover= "hoverRowAlt" @mouseleave= "leaveRowAlt">
                        <span :class="[{open: list.showAlt}]">{{list.alt}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>

