*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  body{
    background-color: #222;
    height: 100%;
  }
  header{
    display: flex;
    position: fixed;
    justify-content: end;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 40px;
    li{
      width: 120px;
      // border: 1px solid #F00;
      font-weight: bold;
      height: 100%;
      text-align: center;
      padding-top: 7px;
      
      &:last-child{
        margin-right: 20px;
      }
      &.home{
        position: absolute;
        top: 0px;
        left: 0px;
      }
      a{
        // border: 1px solid #F00;
        font-size: 18px;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        color:#FFF;
        text-decoration: none;
        position: relative;
        &:hover{
          color: rgb(255, 25, 133);
        }
      }
  }
}