*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
body{
    background-color: #222;
    height: 100%;
    ::-webkit-scrollbar{
      width: 0;
    }    
  }

  // 皮卡背景圖
.introBg{
  // display: none;
    img{
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-45%);
      max-height: 20vh;
    }
  }
  @media (max-width: 768px) { 
    .introBg{
      // transform: translateX(-50%);
    }   
  
  }  

  @media (max-width: 576px) { 

    }  
  // hrader
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    height: 40px;
    z-index: 777;
    .headerMenu{
      display: none;
    }
    .headerList{
      margin: 0 auto;
      display: flex;
      justify-content: end;
      align-items: center;
      p{
        color: #FFF;
      }
  
      li{
        width: 120px;
        // border: 1px solid #F00;
        font-weight: bold;
        height: 100%;
        text-align: center;
        padding-top: 7px;
        
        &:last-child{
          margin-right: 20px;
        }
        &.home{
          position: absolute;
          top: 0;
          left: 0px;
        }
        a{
          // border: 1px solid #F00;
          font-size: 18px;
          text-align: center;
          width: 100%;
          margin-top: 10px;
          color:#FFF;
          text-decoration: none;
          position: relative;
          &:hover{
            color: rgb(255, 25, 133);
          }
        }
    }
    }

}
@media (max-width: 576px) { 
  header{
    background-color: transparent;
    z-index: 2;
    .headerMenu{
      position: fixed;
      top: 10px;
      right: 10px;
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      .bar{
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        border-radius: 3px;
        &.bar1{
          top: 0;
        }
        &.bar2{
          top: 7px;
        }
        &.bar3{
          top: 14px;
        }
      }
      
    }
    .headercross{
      cursor: pointer;
      position: fixed;
      right: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      z-index: 10;
      // border: 1px solid #FFF;
      .bar{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 26px;
        height: 4px;
        border-radius: 3px;
        background-color: #FFF;
        transform: translate(-50%,-50%) rotate(45deg);
        &.bar2{
          transform: translate(-50%,-50%) rotate(-45deg);
        }
      }
      &:hover{
        .bar{
          background-color: rgb(255, 25, 133);
        }
      }

    }
    .headerList{
      display: flex;
      flex-direction: column;
      background-color: #000000;
      width: 300px;
      position: absolute;
      right: 0;
      align-items: start;
      border-radius: 10px 0 0 10px;

  
      li{
        width: 120px;
        // border: 1px solid #F00;
        font-weight: bold;
        height: 50px;
        text-align: left;
        padding-top: 20px;
        margin-left: 40px;
        
        &:last-child{
          margin-right: 0px;
          margin-bottom: 20px;
        }
        &.home{
          position: fixed;
          top: -10px;
          left: 0px;
          a{
            color: #FFF;
          }
        }
        a{
          font-size: 18px;
          width: 100%;
          margin-top: 10px;
          // color:#000;
          color: #FFF;
          text-decoration: none;
          position: relative;
          &:hover{
            color: rgb(255, 25, 133);
          }
        }
    }
    }

} 
}


// footer
footer{
  background-color: #000;
  position: fixed;
  z-index: 2;  
  bottom: 0;
  width: 100%;
  color: #FFF;
  span{
    font-size: 9px;
  }
  #updatetime{
    h1{
      display: inline;
      padding-left: 20px;
      font-size: 13px;
    }
    span{
      padding-left: 20px;
      position: relative;
      top: -1px;
    }
  }
  #copyright{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

}
@media (max-width: 768px) { 
  footer{
    background-color: #000;
    padding: 10px;
    position: fixed;
    z-index: 2;  
    bottom: 0;
    width: 100%;
    color: #FFF;
    span{
      font-size: 9px;
    }
    #updatetime{
      display: block;
      text-align: center;
      position: relative;
      top: -7px;
      h1{
        display: inline;
        padding-left: 20px;
        font-size: 13px;
      }
      span{
        padding-left: 20px;
        position: relative;
        top: -1px;
      }
    }
    #copyright{
      width: 100%;
      position: absolute;
      left: 50%;
      top: 90%;
      transform: translate(-50%,-90%);
      text-align: center;
    }
  
  }  
}


// activity
.Activitycrossbox{
  cursor: pointer;
  position: fixed;
  right: 12vw;
  top: 50px;
  width: 30px;
  height: 30px;
  z-index: 1000;
  // border: 1px solid #FFF;
  .bar{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 4px;
    border-radius: 3px;
    background-color: #FFF;
    transform: translate(-50%,-50%) rotate(45deg);
    &.bar2{
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
}  
.ActivityscrollTop{
  cursor: pointer;
  position: fixed;
  right: 12vw;
  top: 91vh;
  width: 40px;
  height: 40px;
  z-index: 1200;
  background-color: #FFF;
  border-radius: 100%;
  transition: 0.3s;
  opacity: 0;
  &.show{
    transition: 0.2s;
    opacity: 1;
  }
  span{
    font-weight: bold;
    font-size: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &:hover,.act{
    background-color: #000;
    span{
      color: #FFF;
    }
  }
}

.mapleActivity{
  position: fixed;
  z-index: 999;
  width: 80vw;
  height: 90vh;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  overflow-y: scroll;
  // border: 1px solid #FFF;
  background-color: #e2ccb5;
  border-radius: 10px;
  padding-bottom: 50px;

  &::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
    
  }
  &::-webkit-scrollbar-thumb{
    background-color: #777;
    border-radius: 10px;

  }
  &::-webkit-scrollbar-button{
    display: none;
  }
  &::-webkit-scrollbar-track-piece{
    display: none;
  }
  .modeTag{
    position: absolute;
    width: 130px;
    height: 70px;
    left: -131px;
    top: 7px;
    background-color: #00568f;
    .modeTxt{
      user-select: none;
      cursor: pointer;
      line-height: 70px;
      color: #FFF;
      font-size: 27px;
      font-weight: bold;
      text-align: center;
      display: none;
    }
  }
}
.Activitydate{
  width: 80vw;
  height: 3vh;
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e2ccb5;
  z-index: 1111;
  padding-left: 20px;
  border-radius: 0 0 10px 10px;
  span{

  }
  .txt{
    padding-left: 10px;
  }
}  
.latestContainer{
  .title{
    padding-top: 1rem;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .contentTag{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
      // border: 1px solid #F00;
      cursor: pointer;
      width: 80px;
      height: 50px;
      margin: 7px;
      position: relative;
      // border: 1px solid #F00;
      &.act{
        &::after{
          content: '';
          color: #000;
          text-shadow: 0 0 3px #FFF;
        }
        img{
          opacity: 1;
        }
      }
      img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        opacity: 0.4;
      }
      &::after{
        content: '';
        font-weight: bold;
        position: absolute;
        top: 100%; 
        width: 100%;
        text-align: center;
        color: #777;
      }
      &.goldAppleTag{
        &::after{
          content: '黃金蘋果';
        }
      }
      &.cuteMosTag{
        &::after{
          content: '萌獸卡牌包';
        }
      }
      &.fashionTag{
        &::after{
          content: '時尚隨機箱';
        }
      }
      &.dressingTag{
        &::after{
          content: '皇家美容院';
        }
      }
      &.petTag{
        &::after{
          content: '寵物隨機箱';
        }
      }
      &.cubeTag{
        &::after{
          content: 'XX方塊';
        }
      }
      &.crystalTag{
        &::after{
          content: '月光水晶';
        }
      }
      &.frameTag{
        &::after{
          content: '魔法畫框';
        }
      }
      &.cartTag{
        &::after{
          content: '';
        }
      }
    }
  }
  .content{
    .banner{
      display: block;
      // border: 1px solid #F00;
      width: 100%;
      max-width: 600px;
      // max-height: 600px;
      margin: auto;
      margin-top: 20px;
      // opacity: 0;
    }
    .ProbabilityBox{
      .title{
        position: relative;
      }
      .refHref{
        width: 100%;
        font-size: 16px;
        .author{
          display: inline;
          font-size: 18px;
          font-weight: bold;
        }
        span{
          display: block;
          text-align: center;

        }
        a{
          display: inline-block;
          padding:  0 10px;
        }
      }         
      .ProbabilityTable{
        display: flex;
        justify-content: center;
        ul{
          width: 48%;
          margin: auto;
          margin-top: 10px;
          max-width: 500px;
          .remindTxt{
            font-size: 14px;
            text-align: center;
            margin-bottom: 7px;
            .mark{
              display: inline-block;
              padding: 0px 5px;
            }
            .framesort{
              background-color: #ffffffb2;
              border-radius: 5px;
              padding: 0 20px;
              width: 130%;
              position: relative;
              left: -15%;
              margin: 5px;
              span{
                // border: 1px solid #F00;
                display: block;
                // text-align: center;
                position: relative;
                left: -13%;
                width: 126%;
                padding: 1%;
              }
            }
          }
          .itemTitle{
            background-color: #f1bf8a;
          }
          li{
            border: 1px solid #000;
            display: flex;
            padding: 5px;
            span{
              text-align: center;
              width: 50%;
              font-weight: bold;
            }
          }
        }
      }

      &.goldApple{
        // display: none;
        ul{
          li{
            span{
              width: 33%;
            }
          }
        }
      }
      &.cuteMos{

      }
      &.fashion{
        .fashionTitle{
          background-color: #f1bf8a;
          font-size: 22px;
          text-align: center;
          border: 1px solid;
        }
        ul{
          li{
            span{
              width: 50%;
            }
          }
        }
      }
      &.dressing{
        .dressingTitle{
          background-color: #f1bf8a;
          font-size: 22px;
          text-align: center;
          border: 1px solid;          
        }
        ul{
          li{
            span{
              width: 50%;
            }
          }
        }        

      }
      &.pet{

      }
      &.cube{

      }
      &.crystal{

      }
      &.frame{

      }
      &.cart{

      }   
    }
  }

}
.historyContainer{
  
}

@media (max-width: 768px) { 
  .latestContainer{
    .contentTag{
      li{
        width: 23%;
        margin-top: 20px;
      }
    }    
    .content{
      .ProbabilityBox{
        .ProbabilityTable{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;            
          ul{
            width: 90%;
            margin: auto;
            margin-top: 30px;
            max-width: 500px;              
          }
        }
      }
    }  
  }    
}

@media (max-width: 576px) { 
  .latestContainer{
    .content{
      .ProbabilityBox{
        .ProbabilityTable{

          ul{
            width: 90%;
            margin: auto;
            margin-top: 30px;
            max-width: 500px;
            
            li{
              border: 1px solid #000;
              display: flex;
              padding: 3px;
              span{
                text-align: center;
                width: 33%;
              }
            }
          }
          
        }   
        &.fashion{
          .fashionTitle{
            font-size: 22px;
            text-align: center;
            border: 1px solid;
          }
          ul{
            li{
              span{
                width: 50%;
              }
            }
          }
        }
        &.dressing{
          .dressingTitle{
            font-size: 22px;
            text-align: center;
            border: 1px solid;          
          }
          ul{
            li{
              span{
                width: 50%;
              }
            }
          }          
  
        }                
      }

    }

  }    
}



// about
.aboutContainer{
  width: 90vw;
  position: absolute;
  margin: 70px;
  .aboutImg{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      .aboutCard{
          width: 300px;
          margin-left: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          img{
              width: 271px;
              height: 226px;
          }
      }
  }
  .content{
      background-color: #000;
      box-shadow: 0 0 7px #777;
      border-radius: 3px;
      margin: 0 auto;
      width: 700px;
      p{
          font-weight: bold;
          color: #FFF;
          line-height: 20px;
          padding: 18px;
          a{
              display: inline-block;
              color: #FFF;
              text-decoration: none;
              border-bottom: 1px solid #FFF;
              

              &:hover{
                  color: rgb(255, 25, 133);
                  border-bottom: 1px solid rgb(255, 25, 133);
              }
          }
      }
      
  }
}

@media (max-width: 576px) { 
.aboutContainer{
  width: 100%;
  position: absolute;
  left: -15%;
  .aboutImg{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10px;
      .aboutCard{
          width: 300px;
          margin-left: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;

          img{
              width: 271px;
              height: 226px;
              margin-bottom: 30px;
          }
      }
  }
  .content{
      background-color: #000;
      box-shadow: 0 0 7px #777;
      border-radius: 3px;
      margin: 0 auto;
      width: 300px;
      margin-bottom: 50px;
      position: relative;
      left: 9px;
      p{
          font-weight: bold;
          color: #FFF;
          line-height: 20px;
          padding: 18px;
          a{
              color: #FFF;
              text-decoration: none;
              &:hover{
                  color: rgb(255, 25, 133);
              }
          }
      }
      
  }
}    
}



// home
.homeContainer{
  position: relative;
  z-index: 1;
  margin-top: 40px;
  // border: 1px solid #F00;
  height: 75vh;
  overflow: hidden;
  overflow-y: scroll;

  .topicTag{
    display: none;
  }
  .topicList{
    .row{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      
      
      .cloudItem{
        width: 418px;
        height: 318px;
        position: relative;
        // border: 1px solid #F00;
        &::before{
          content: url(../img/cloudBg_L.png);
          top: 0;
          left: 0;
          position: absolute;

        }
        &:nth-child(odd){
          position: relative;
          left: -25px;
        }
        &:nth-child(even){
          position: relative;
          left: 25px;
          &::before{
            content: url(../img/cloudBg_R.png);
            top: 0;
            left: 0;
            position: absolute;            
          }
        }
        h1{
          position: relative;
          top: 80px;
          z-index: 2;
          max-width: 200px;
          font-size: 1.5rem;
          border-radius: 1rem;
          text-align: center;
          background-color: #ffade4;
          color: #000;
          padding: 0.3rem;
          margin: 10px auto 0;
          // color: #555;
        }
        img{
          margin-top: 85px;
          width: 200px;
          height: 100px;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          border: 1px solid #F00;
        }
        .link{
          position: absolute;
          top: 77%;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          // border: 1px solid #F00;
          span{
            cursor: pointer;
            text-align: center;
            border: 1px solid #333;
            display: inline-block;
            max-width: 120px;
            width: 90px;
            margin-left: 10px;
            padding: 3px 0;
            &:hover{
              background-color: #000;
              color: #FFF;

            }
          }
        }
        .noData{
          // border: 1px solid;
          width: 100%;
          font-size: 27px;
          font-weight: bold;
          text-align: center;
          position: absolute;
          top: 50%;
        }
        
      }
    }
  }
  .workIntroBox{
    position: fixed;
    z-index: 10;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    height: 70vh;
    background-color: #DDD;
    .IntroBoxLink{
      position: absolute;
      bottom: 10px;
      width: 100%;
      // border: 1px solid #FF0;
      display: flex;
      justify-content: center;

      a{
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        display: inline-block;
        width: 120px;
        padding: 7px 0;
        border-radius: 3px;
        margin-left: 10px;
        background-color: #FFF;
        &:hover{
          background-color: #000;
          color: #FFF;
        }        
      }
    }
    h1{
      margin-top: 5px;
      text-align: center;
    }
    p{
      margin: 20px 10px;
      font-weight: bold;
      span{
        display: block;
        margin-top: 10px;
      }
    }
    .addTxt,.refHref{
      margin-top: 30px;
    }
    .refHref{
      a{
        padding: 0 2px;
      }

    }
    
    

  }
}
@media (max-width: 992px) { 
  .homeContainer{
    .topicList{
      .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .cloudItem{
          margin-left: 0px;
          margin-top: 10px;
          // left: -50px;
          position: relative;
          &::before{
            content: url(../img/cloudBg_L.png);
            position: absolute;
            top: 0;
            left: 0;
  
          }
          h1{

          }
          img{
            margin-top: 85px;
            width: 200px;
            height: 100px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid #F00;
          }
        }
      }
    }
  }  

}
@media (max-width: 576px) { 
  .homeContainer{
    .topicList{
      .row{
        display: flex;
        flex-wrap: wrap;
        .cloudItem{
          margin-left: 0;
          transform: scale(0.8);
          position: absolute;
          left: 0;
          &::before{
            display: inline-block;
            content: url(../img/cloudBg_L.png);
          }
          h1{
  
          }
          img{
            margin-top: 85px;
            width: 200px;
            height: 100px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border: 1px solid #F00;
          }
          .link{
            span{
              cursor: pointer;
              text-align: center;
              border: 1px solid #333;
              display: inline-block;
              margin-left: 10px;
              padding: 3px 0;
              &:hover{
                background-color: #000;
                color: #FFF;
  
              }
            }
          }
          .noData{
            transform: translateX(-3%);
          }
  
          
        }
      }
    }
  }  

}

// none
@media (max-width: 992px) { 

}
@media (max-width: 768px) { 

}
@media (max-width: 576px) { 
  
}