* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 120vh;
}

body::-webkit-scrollbar {
  width: 70px;
}

#chat_box {
  margin-left: 20px;
  margin-top: 20px;
  width: 100px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 100px;
  left: 300px;
}

#chat_box .chat_outline {
  position: relative;
}

#chat_box .chat_outline .txt_container {
  position: relative;
  /* left: -3px; */
  overflow: hidden;
}

#chat_box .chat_outline .txt_container .content {
  text-align: center;
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 11px;
  background-color: #EEE;
  width: 80%;
  margin-left: 3px;
  padding-bottom: 2px;
  position: relative;
  padding-left: 3px;
  padding-right: 7px;
}

#chat_box .chat_outline .txt_container .content .txt {
  display: inline-block;
  text-align: center;
}

#chat_box .chat_outline .txt_container .content #game_id {
  /* border: 1px solid #000; */
  display: block;
  position: relative;
}

#chat_box .chat_outline .txt_container .content #game_id::after {
  content: ":";
  position: absolute;
  right: 5px;
}

#chat_box .chat_outline .txt_container::before {
  position: absolute;
  left: 0px;
  top: 0;
  content: '';
  display: inline-block;
  width: 10px;
  height: 300px;
  background: url(../img/chat_borer/left.png) repeat-y;
  background-position: 0 0;
}

#chat_box .chat_outline .txt_container::after {
  position: absolute;
  right: -2px;
  top: 0;
  content: '';
  display: inline-block;
  width: 10px;
  height: 300px;
  background: url(../img/chat_borer/right.png) repeat-y;
  background-position: -2px 0;
}

#chat_box .chat_outline::before {
  content: '';
  display: block;
  height: 6px;
  background: url(../img/chat_borer/up.png) no-repeat;
}

#chat_box .chat_outline::after {
  content: '';
  display: block;
  height: 14px;
  background: url(../img/chat_borer/down.png) no-repeat;
}

#chat_box_catmode {
  margin-left: 20px;
  margin-top: 20px;
  width: 153px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 100px;
  left: 100px;
}

#chat_box_catmode .chat_outline {
  position: relative;
}

#chat_box_catmode .chat_outline .txt_container {
  position: relative;
  /* left: -3px; */
  overflow: hidden;
}

#chat_box_catmode .chat_outline .txt_container .content {
  text-align: center;
  display: inline-block;
  word-break: break-all;
  font-size: 11px;
  background-color: #5f96be;
  width: 60%;
  min-height: 30px;
  margin-left: 15px;
  position: relative;
  padding: 4px 20px 10px 20px;
}

#chat_box_catmode .chat_outline .txt_container .content .txt {
  text-align: center;
}

#chat_box_catmode .chat_outline .txt_container .content #game_id2 {
  position: relative;
  margin-right: 15px;
}

#chat_box_catmode .chat_outline .txt_container .content #game_id2::after {
  content: ":";
  position: absolute;
  right: -8px;
  top: -1px;
}

#chat_box_catmode .chat_outline .txt_container .content .txt, #chat_box_catmode .chat_outline .txt_container .content #game_id2, #chat_box_catmode .chat_outline .txt_container .content #game_id2::after {
  color: #884400;
  font-weight: 500;
  text-shadow: 0 0 0 #884400,0 0 0 #884400,0 0 0 #884400;
}

#chat_box_catmode .chat_outline .txt_container::before {
  position: absolute;
  left: 7px;
  top: 0;
  content: '';
  display: inline-block;
  width: 14px;
  height: 300px;
  background: url(../img/catmode/left_border.png) repeat-y;
  background-position: 0 0;
}

#chat_box_catmode .chat_outline .txt_container::after {
  position: absolute;
  right: -6px;
  top: 0;
  content: '';
  display: inline-block;
  width: 14px;
  height: 300px;
  background: url(../img/catmode/right_border.png) repeat-y;
  background-position: -2px 0;
}

#chat_box_catmode .chat_outline::before {
  content: '';
  display: block;
  height: 31px;
  background: url(../img/catmode/up.png) no-repeat;
}

#chat_box_catmode .chat_outline::after {
  content: '';
  display: block;
  height: 22px;
  position: relative;
  left: 6px;
  top: -7px;
  background: url(../img/catmode/down.png) no-repeat;
}

.ChatSyscontainer {
  position: relative;
  width: 600px;
  height: 400px;
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 7px;
  border: 1px solid #F00;
}

.ChatSyscontainer .ChatBoxContainer {
  margin-top: 100px;
  border-radius: 7px 7px 0  0;
  position: absolute;
  bottom: 50px;
  width: 410px;
  height: 100px;
  background: #0000007b;
}

.ChatSyscontainer .ChatBoxContainer .outline {
  border-radius: 1px;
  height: 4px;
  background-color: #344146a1;
}

.ChatSyscontainer .ChatBoxContainer .outline .contentBox {
  position: relative;
}

.ChatSyscontainer .ChatBoxContainer .outline .contentBox .iconBar {
  top: 0;
  position: absolute;
  width: 100%;
  height: 15px;
  overflow: hidden;
  background: #000;
  z-index: 2;
}

.ChatSyscontainer .ChatBoxContainer .outline .contentBox .iconBar .DragIcon #DragIcon {
  position: absolute;
  left: 3px;
  top: 4px;
}

.ChatSyscontainer .ChatBoxContainer .outline .contentBox .iconBar .ZoomOutIcon #ZoomOutBtn {
  position: absolute;
  right: 3px;
  top: 4px;
}

.ChatSyscontainer .ChatBoxContainer .outline .contentBox .UserTxt {
  opacity: 1;
  padding-top: 20px;
  padding-left: 7px;
  color: #FFF;
  font-weight: lighter;
  font-size: 12px;
  letter-spacing: 0.5px;
  border: 1px solid #FF0;
  position: relative;
  height: 250px;
  top: -150px;
  overflow-y: overlay;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ChatSyscontainer .ChatBoxContainer .outline .contentBox .UserTxt span {
  position: relative;
  padding-left: 3px;
  display: block;
}

.ChatSyscontainer .ChatBoxContainer .outline .contentBox ::-webkit-scrollbar {
  display: block;
}

.ChatSyscontainer .ChatBarContainer {
  position: absolute;
  bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 3;
  margin-top: 0px;
  width: 408px;
  border: 1px solid #000;
}

.ChatSyscontainer .ChatBarContainer .outline {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#313435), to(#454748));
  background: linear-gradient(180deg, #313435 0%, #454748 100%);
}

.ChatSyscontainer .ChatBarContainer .outline .ChatClass {
  position: relative;
  top: 2px;
  margin-left: 3px;
}

.ChatSyscontainer .ChatBarContainer .outline .ChatClass .class_ch_list {
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: -83px;
  width: 75px;
  height: 83px;
  background: #555;
}

.ChatSyscontainer .ChatBarContainer .outline .ChatClass .class_ch_list .item {
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  font-size: 10px;
  color: #FFF;
}

.ChatSyscontainer .ChatBarContainer .outline .ChatClass .class_ch_list .item span {
  display: inline-block;
  margin-left: 1px;
  color: #ffff22;
}

.ChatSyscontainer .ChatBarContainer .outline .ChatClass .class_ch_list .item:hover {
  font-weight: bold;
  background: #ffcc00;
  color: #555;
}

.ChatSyscontainer .ChatBarContainer .outline .ChatClass .class_ch_list .item:hover span {
  color: #ff2222;
}

.ChatSyscontainer .ChatBarContainer .outline #userinput {
  color: #FFF;
  width: 217px;
  margin-left: 5px;
  padding: 1px;
  padding-left: 5px;
  border-radius: 3px;
  background: #2e2f32;
  border: none;
  border-bottom: 1px solid #222;
  -webkit-box-shadow: 0px 2px 2px #4a4b50,inset 1px -1px 7px #1e1e20,3px 1px 3px #363638;
          box-shadow: 0px 2px 2px #4a4b50,inset 1px -1px 7px #1e1e20,3px 1px 3px #363638;
  font-size: 10px;
}

.ChatSyscontainer .ChatBarContainer .outline #userinput:focus {
  outline: none;
}

.ChatSyscontainer .ChatBarContainer .outline .ChatImg {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 3px;
}

.ChatSyscontainer #noinput {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */