*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #555;
}
.chatring{
  user-select: none;
  .chat_outline{
    position: relative;
    .txt_container{
      position: relative;
      overflow: hidden;
      .content{
        position: relative;
        text-align: center;
        display: inline-block;
        word-break: break-all;
        font-size: 11px;
        .txt{
          text-align: center;
        }
      }
    }
  }
}

#chat_box{
  // display: none;
  width: 110px;
  position: absolute;
  top: 105px;
  left: 300px;
  .chat_outline{
      .txt_container{
        .content{
          background-color: #EEE;
          width: 94px; 
          margin-left: 1px;
          padding: 0 3px 2px 3px;
          .txt{
            display: inline-block;
            width: 80px;
          }
          .idBox{
            position: relative;
            width: 80px;
            display: block;
            text-align: center;
          }
          .idBox::after{
              content: ":";
              position: absolute;
              right: 0px;
          }                     
        }
      }  
      .txt_container::before{
          content: '';
          position: absolute;
          left: 0px;
          top: 0;
          display: inline-block;
          width: 10px;
          height: 300px;
          background: url(../img/chat_borer/left.png) repeat-y;
          background-position: 0 0;

      }      
      .txt_container::after{
          content: '';
          position: absolute;
          right: 8px;
          top: 0px;
          display: inline-block;
          width: 10px;
          height: 300px;
          background: url(../img/chat_borer/right.png) repeat-y;
          background-position: -2px 0;

      }    
      }
  .chat_outline::before{
      content: '';
      display: block;
      height: 6px;
      background: url(../img/chat_borer/up.png) no-repeat;
  }    
  .chat_outline::after{
      content: '';
      display: block;
      height: 14px;
      background: url(../img/chat_borer/down.png) no-repeat;
      
  }   


      

}   

#chat_box_catmode{
  // display: none;
  width: 150px;
  position: absolute;
  top: 100px;
  left: 100px;
  .chat_outline{
      .txt_container{
        // border: 1px solid #F00;
          .content{
              background-color: #5f96be;
              width: 130px;
              margin-left: 15px;
              padding: 3px 20px 10px 20px;
              .txt{
                  
              }  
              .idBox{
                position: relative;
                margin-right: 15px;
              }
              .idBox::after{
                  content: ":";
                  position: absolute;
                  right: -8px;
                  top: -1px;
                  
              }    
              .txt,.idBox,.idBox::after{
                color: #884400;
                font-weight: 500;
                text-shadow: 0 0 0 #884400,0 0 0 #884400,0 0 0 #884400;
                
              }              
          }
      }  
      .txt_container::before{
          content: '';
          position: absolute;
          left: 7px;
          top: 0;
          display: inline-block;
          width: 14px;
          height: 300px;
          background: url(../img/catmode/left_border.png) repeat-y;
          background-position: 0 0;

      }      
      .txt_container::after{
          content: '';
          position: absolute;
          right: -9px;
          top: 0;
          display: inline-block;
          width: 14px;
          height: 300px;
          background: url(../img/catmode/right_border.png) repeat-y;
          background-position: -2px 0;

      }    
      }
  .chat_outline::before{
      content: '';
      display: block;
      height: 31px;
      background: url(../img/catmode/up.png) no-repeat;
  }    
  .chat_outline::after{
      content: '';
      display: block;
      height: 22px;
      position: relative;
      left: 6px;
      top: -7px;
      background: url(../img/catmode/down.png) no-repeat;
      
  }   
}  



.ChatSyscontainer{
  position: relative;
  width: 800px;
  height: 600px;
  margin-top: 30px;
  margin: auto;
  border: 1px solid #F00;

  
  .ChatContainer{
    position: absolute;
    bottom: 20px;
    user-select: none;
    z-index: 3;
    margin-top: 0px;
    width: calc(var(--chatW) * 1px);
    min-width: 407px;
    border: 1px solid #000;
    .baroutline{
        height: 30px;
        display: flex;
        align-items: center;
        background: linear-gradient(180deg, rgba(49,52,53,1) 0%, rgba(69,71,72,1) 100%);


        .msgContent{
          position: absolute;
          width: calc(var(--chatW) * 1px);
          min-width: 407px;
          top: calc(var(--chatH) * -20px - 20px);
          left: -1px;
          background: #FFF;
          background: #333333d7;
          height: calc(var(--chatH) + 20px);
          .dargbar{
            position: absolute;
            z-index: 2;
            height: 20px;
            width: calc(var(--chatW) * 1px);
            min-width: 407px;
            background-color: #222222a9;
            top: 0;
            .dragImg{
              position: absolute;
              top: 5px;
              left: 3px;
            }
            .zoomoutImg{
              position: absolute;
              top: 5px;
              right: 5px;
            }
          }
          .txtContent{
            margin-top: 20px;
            padding-left: 3px;
            font-size: 11px;
            // height: $txt_height;
            height: calc( var(--chatH) * 20px );
            // border: 1px solid #F00;
            overflow-y: scroll;
            .msg{
              display: block;
              height: 20px;
              line-height: 20px;
              color: #FFF;
              padding-left: 5px;
              &.c0r{color: #ddb1c2;}
              &.c0y{color: #fbff02;}
              &.c1{color: #FFF;}
              &.c2{}
              &.c3{color: #eb8f05;}
              &.c4{color: #77ffee;}
              &.c5{color: #bd8feb;}

              .symbol{
                display: inline-block;
                position: relative;
                top: -1px;
                padding: 0px 1.5px;
              }

 
            }

          }
          .txtContent::-webkit-scrollbar{
            width: 7px;
            background-color: #797979;
            background-color: transparent;
          }
          .txtContent::-webkit-scrollbar-button{
            // display: none;
          }
          .txtContent::-webkit-scrollbar-button:start:decrement{

          }
          .txtContent::-webkit-scrollbar-button:end:increment{

          }
          .txtContent::-webkit-scrollbar-thumb{
            background-color: rgb(34, 34, 34);
            
          }
          .txtContent::-webkit-scrollbar-track-piece{
            background: transparent;
          }
          
        }
        .ChatClass{
            position: relative;
            top: 2px;
            margin-left: 3px;
            .class_ch_list{
                // display: none;
                list-style-type: none;
                user-select: none;
                position: absolute;
                top: -83px;
                width: 75px;
                height: 83px;
                background: #555;
                .item{
                    font-weight: 500;
                    margin: 0;
                    padding: 0;
                    padding-left: 3px;
                    font-size: 10px;
                    color: #FFF;
                    span{
                        display: inline-block;
                        margin-left: 1px;
                        color: #ffff22;
                    }
                }
                .item:hover{
                    font-weight: bold;
                    background: #ffcc00;
                    color: #555;
                    span{
                        color: #ff2222;
                    }
                }
                
            }
  
        }
        #userinput{
            color: #FFF;
            width: 217px;
            margin-left: 5px;
            padding: 1px;
            padding-left: 5px;
            border-radius: 3px;
            background: #2e2f32;
            border: none;
            border-bottom: 1px solid #222;
            box-shadow: 0px 2px 2px #4a4b50,inset 1px -1px 7px #1e1e20,3px 1px 3px #363638 ;
            font-size: 10px;
            
        }
        #userinput:focus{
            outline: none;
        }
        .ChatImg{
            width: 125px;
            display: flex;
            // border: 1px solid #F00;
            justify-content: space-around;
            margin-left: 3px;
        }
    }

  }


  #noinput{
    opacity: 0;
  }

}

.CustomContainer{
  position: absolute;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #CCC;
  display: flex;
  justify-content: space-around;
  
}

