* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body, html {
  background-color: #555;
  height: 100%;
}

.navContainer {
  position: absolute;
  z-index: 100;
  width: 270px;
  height: 100vh;
  left: -300px;
  background-color: #444;
  box-shadow: 0 0 20px #555;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.3s;
}
.navContainer::-webkit-scrollbar {
  width: 10px;
}
.navContainer::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 5px;
  background-color: #777;
}
.navContainer.open {
  position: absolute;
  left: 0px;
}
.navContainer .navCross {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
}
.navContainer .navCross .bar {
  position: absolute;
  background-color: #fff;
  width: 26px;
  height: 4px;
  border-radius: 3px;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  left: 50%;
}
.navContainer .navCross .bar2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.navContainer input {
  padding: 3px;
  padding-left: 10px;
  border-radius: 3px;
  position: absolute;
  left: 5px;
  top: 15px;
  height: 30px;
  width: 200px;
}
.navContainer input:focus {
  outline: none;
}
.navContainer .ringList {
  position: absolute;
  top: 60px;
  width: 270px;
}
.navContainer .ringList li {
  display: block;
  width: 100%;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #FFF;
}
.navContainer .ringList li.act {
  background-image: url(../img/symbal/check.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 90% 40%;
}
.ChatSyscontainer {
  background-size: cover;
  position: relative;
  width: 800px;
  height: 600px;
  margin: auto;
  border: 1px solid #F00;
}
.ChatSyscontainer .ChatContainer {
  position: absolute;
  bottom: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 3;
  margin-top: 0px;
  width: calc(var(--chatW) * 1px);
  min-width: 407px;
  border: 1px solid #000;
}
.ChatSyscontainer .ChatContainer .baroutline {
  height: 30px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgb(49, 52, 53) 0%, rgb(69, 71, 72) 100%);
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent {
  cursor: auto;
  position: absolute;
  width: calc(var(--chatW) * 1px);
  min-width: 407px;
  top: calc(var(--chatH) * -20px - 20px);
  left: -1px;
  background: #FFF;
  background: rgba(51, 51, 51, 0.8431372549);
  height: calc(var(--chatH) + 20px);
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent:active {
  cursor: grab;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .dargbar {
  cursor: grab;
  position: absolute;
  z-index: 2;
  height: 20px;
  width: calc(var(--chatW) * 1px);
  min-width: 407px;
  background-color: rgba(34, 34, 34, 0.662745098);
  top: 0;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .dargbar .dragImg {
  position: absolute;
  top: 5px;
  left: 3px;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .dargbar .zoomoutImg {
  position: absolute;
  top: 5px;
  right: 5px;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent {
  margin-top: 20px;
  padding-left: 3px;
  font-size: 11px;
  height: calc(var(--chatH) * 20px);
  overflow-y: scroll;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent .msg {
  display: block;
  height: 20px;
  line-height: 20px;
  color: #FFF;
  padding-left: 5px;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent .msg.c0r {
  color: #ddb1c2;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent .msg.c0y {
  color: #fbff02;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent .msg.c1 {
  color: #FFF;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent .msg.c3 {
  color: #eb8f05;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent .msg.c4 {
  color: #77ffee;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent .msg.c5 {
  color: #bd8feb;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent .msg .symbol {
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 0px 1.5px;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent::-webkit-scrollbar {
  width: 7px;
  background-color: #797979;
  background-color: transparent;
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent::-webkit-scrollbar-thumb {
  background-color: rgb(34, 34, 34);
}
.ChatSyscontainer .ChatContainer .baroutline .msgContent .txtContent::-webkit-scrollbar-track-piece {
  background: transparent;
}
.ChatSyscontainer .ChatContainer .baroutline .ChatClass {
  position: relative;
  top: 2px;
  margin-left: 3px;
}
.ChatSyscontainer .ChatContainer .baroutline .ChatClass #ChatClassBtn {
  cursor: pointer;
}
.ChatSyscontainer .ChatContainer .baroutline .ChatClass .class_ch_list {
  list-style-type: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  top: -83px;
  width: 75px;
  height: 83px;
  background: #555;
  cursor: pointer;
}
.ChatSyscontainer .ChatContainer .baroutline .ChatClass .class_ch_list .item {
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  font-size: 10px;
  color: #FFF;
}
.ChatSyscontainer .ChatContainer .baroutline .ChatClass .class_ch_list .item span {
  display: inline-block;
  margin-left: 1px;
  color: #ffff22;
}
.ChatSyscontainer .ChatContainer .baroutline .ChatClass .class_ch_list .item:hover {
  font-weight: bold;
  background: #ffcc00;
  color: #555;
}
.ChatSyscontainer .ChatContainer .baroutline .ChatClass .class_ch_list .item:hover span {
  color: #ff2222;
}
.ChatSyscontainer .ChatContainer .baroutline #userinput {
  color: #FFF;
  width: 217px;
  margin-left: 5px;
  padding: 1px;
  padding-left: 5px;
  border-radius: 3px;
  background: #2e2f32;
  border: none;
  border-bottom: 1px solid #222;
  box-shadow: 0px 2px 2px #4a4b50, inset 1px -1px 7px #1e1e20, 3px 1px 3px #363638;
  font-size: 10px;
}
.ChatSyscontainer .ChatContainer .baroutline #userinput:focus {
  outline: none;
}
.ChatSyscontainer .ChatContainer .baroutline .ChatImg {
  width: 125px;
  display: flex;
  justify-content: space-around;
  margin-left: 3px;
}
.ChatSyscontainer #noinput {
  opacity: 0;
}

.CustomContainer {
  position: absolute;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #AAA;
  display: flex;
  justify-content: space-around;
}
.CustomContainer .question h1 {
  font-size: 20px;
  margin-top: 3px;
}
.CustomContainer .q1 .itemSelected {
  border: 1px solid;
  cursor: pointer;
  width: 200px;
  line-height: 45px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.CustomContainer .q1 .itemSelected:after {
  content: url(../img/symbal/arrow.png);
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-55%) rotate(90deg) scale(0.8);
}
.CustomContainer .q2 input {
  padding: 7px;
}
.CustomContainer .q2 .alertbox {
  height: 20px;
}
.CustomContainer .q2 .alertbox .IDalert {
  color: #F00;
  font-size: 14px;
}

swiper-container {
  position: relative;
  top: 100px;
  margin: auto;
  /* width: 800px; */
  height: 100px;
}
swiper-container swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}
swiper-container swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}
swiper-container swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mapSwiper {
  max-width: 600px;
  height: 120px;
}
.mapSwiper swiper-slide {
  opacity: 0.4;
  position: relative;
  z-index: 2;
}
.mapSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

#mapNavigation {
  position: relative;
  z-index: -1;
  top: 100px;
  height: 100px;
  width: 200px;
}
#mapNavigation swiper-slide {
  opacity: 0;
  position: relative;
}

#mapNavigation, #mapSwiper, swiper-container {
  display: none;
}/*# sourceMappingURL=main.css.map */