.chatring{
  position: relative;

  user-select: none;
    // 調整上下邊框
  .chat_outline{
    position: relative;
    //   調整左右邊框
    .txt_container{
      position: relative;
      overflow: hidden;
        // 邊框內文調整
      .Txtcontent{
        position: relative;
        text-align: center;
        display: inline-block;
        word-break: break-all;
        font-size: 11px;
        background-color: #331177;
        color: #ee88ff;
        position: relative;
        // 依據左右的圖邊設定margin-left
        margin-left: 28px;
        // 依據第一行何時換行設定寬 (mode設定寬 - b_left寬 - b_right寬 =>mode2為例 164 - 28 x2 =108)
        width: 108px;
        // 依據沒填滿的空間 設定padding
        padding-top: 1px;
        // border: 1px solid;
        line-height: 15px;

        .txt{
          display: inline-block;
           // 決定字數換行的寬度
          // border: 1px solid #F00;
          line-height: 15px;
          text-align: center;
        }
        .idBox{
          position: relative;
          // 預留第一行能輸入的空間  
          // margin-right: 15px;
        }
        .idBox::after{
            content: ":";
            position: absolute;
            right: -8px;
            top: -1px;
            
        }          
      }
    }
  }
}
  .person{
    position: absolute;
    top: 407px;
    left: 362px;
    width: 70px;
    height: 90px;
    // border: 1px solid #F00;

  }
  // 無
  .mode00{
    position: absolute;
    top: -65px;
    left: -10px;
    width: 110px;
    .chat_outline{
        &::before{
            content: '';
            display: block;
            height: 6px;
            background: url(../img/mode/00/b_up.png) no-repeat;
        }
        &::after{
            content: '';
            display: block;
            height: 14px;
            background: url(../img/mode/00/b_down.png) no-repeat;
        }
        .txt_container{
            &::before{
                content: '';
                position: absolute;
                left: 0px;
                top: 0;
                display: inline-block;
                width: 10px;
                height: 300px;
                background: url(../img/mode/00/b_left.png) repeat-y;
                background-position: 0 0;
            }
              &::after{
                content: '';
                position: absolute;
                right: 8px;
                top: 0px;
                display: inline-block;
                width: 10px;
                height: 300px;
                background: url(../img/mode/00/b_right.png) repeat-y;
                background-position: -2px 0;
            }            
          .Txtcontent{
            background-color: #EEE;
            color: #000;
            width: 94px; 
            margin-left: 1px;
            padding: 0 3px 2px 3px;
            .txt{
              font-size: 11px;
              width: 80px;
            }
            .idBox{
              position: relative;
              width: 80px;
              display: block;
              text-align: center;
            }
            .idBox::after{
                content: ":";
                position: absolute;
                right: 0px;
            }                     
          }

        }     
    }
  }   
  // 貓咪線球
  .mode01{
    position: absolute;
    top: -100px;
    left: -40px;
    width: 150px;
    .chat_outline{
      &::before{
        content: '';
        display: block;
        height: 31px;
        background: url(../img/mode/01/b_up.png) no-repeat;
      }
      &::after{
        content: '';
        display: block;
        height: 22px;
        position: relative;
        left: 6px;
        top: -7px;
        background: url(../img/mode/01/b_down.png) no-repeat;
      }
      .txt_container{
          &::before{
            content: '';
            position: absolute;
            left: 7px;
            top: 0;
            display: inline-block;
            width: 14px;
            height: 300px;
            background: url(../img/mode/01/b_left.png) repeat-y;
            background-position: 0 0;
          }
          &::after{
            content: '';
            position: absolute;
            right: -9px;
            top: 0;
            display: inline-block;
            width: 14px;
            height: 300px;
            background: url(../img/mode/01/b_right.png) repeat-y;
            background-position: -2px 0;
          }
            .Txtcontent{
                background-color: #5f96be;
                margin-left: 15px;
                padding: 3px 20px 10px 20px;
                width: 130px;
                // border: 1px solid #FF0;
                .txt{
                  position: relative;
                  left: -7px;
                  width: 100px;
                }  
                .idBox{
                  position: relative;
                  margin-right: 15px;
                }
                .idBox::after{
                    content: ":";
                    position: absolute;
                    right: -8px;
                    top: -1px;
                    
                }    
                .txt,.idBox,.idBox::after{
                  color: #884400;
                  font-weight: 500;
                  text-shadow: 0 0 0 #884400,0 0 0 #884400,0 0 0 #884400;
                  
                }              
            }
      }   
    }
  }  
  // 蝴蝶夢
  .mode02{
    position: absolute;
    top: -105px;
    left: -50px;
    width: 164px;
    .chat_outline{
        &::before{
            content: '';
            display: block;
            height: 31px;
            background: url(../img/mode/02/b_up.png) no-repeat;
        }
        &::after{
            content: '';
            display: block;
            height: 33px;
            background: url(../img/mode/02/b_down.png) no-repeat;
        }
        .txt_container{
            &::before{
                content: '';
                position: absolute;
                left: 0px;
                top: 0;
                display: inline-block;
                width: 28px;
                height: 300px;
                background: url(../img/mode/02/b_left.png) repeat-y;
                background-position: 0 0;
            }
              &::after{
                content: '';
                position: absolute;
                right: 0px;
                top: 0px;
                display: inline-block;
                width: 28px;
                height: 300px;
                background: url(../img/mode/02/b_right.png) repeat-y;
                background-position: 0px 0;
            }            
          .Txtcontent{
            background-color: #331177;
            color: #ee88ff;
            position: relative;
            // 依據左右的圖邊設定margin-left
            margin-left: 28px;
            // 依據第一行何時換行設定寬 (mode最長寬 - 左右的寬 => 164 - 28 x2 =108)
            width: 108px;
            // 依據沒填滿的空間 設定padding
            padding-top: 3px; 
            padding-bottom: 3px;
            // border: 1px solid;

            .txt{
              // opacity: 0;
              display: inline-block;
              font-size: 11px;
            }
            .idBox{
              position: relative;
              margin-right: 15px;
                }
            .idBox::after{
                content: ":";
                position: absolute;
                right: -8px;
                top: -1px;
                
            }                     
          }

        }     
    }
  }   
  // 粉貓貓
  .mode03{
    position: absolute;
    top: -86px;
    left: -35px;
    width: 140px;
    .chat_outline{
        &::before{
            content: '';
            display: block;
            height: 27px;
            background: url(../img/mode/03/b_up.png) no-repeat;
        }
        &::after{
            content: '';
            display: block;
            height: 22px;
            background: url(../img/mode/03/b_down.png) no-repeat;
        }
        .txt_container{
            &::before{
                content: '';
                position: absolute;
                left: 0px;
                top: 0;
                display: inline-block;
                width: 25px;
                height: 300px;
                background: url(../img/mode/03/b_left.png) repeat-y;
                background-position: 0 0;
            }
              &::after{
                content: '';
                position: absolute;
                right: 0px;
                top: 0px;
                display: inline-block;
                width: 21px;
                height: 300px;
                background: url(../img/mode/03/b_right.png) repeat-y;
                background-position: 0px 0;
            }            
          .Txtcontent{
            background-color: #cc96b1;
            color: #fff;
            position: relative;
            // 依據左的圖邊設定margin-left
            margin-left: 25px;
            // 依據第一行何時換行設定寬 (mode最長寬 - 左右圖的寬)
            width: 94px;
            // 依據沒填滿的空間 設定padding
            padding-top: 3px; 
            padding-bottom: 3px;
            // border: 1px solid;

            .txt{
              // opacity: 0;
              display: inline-block;
              font-size: 11px;
            }
            .idBox{
              position: relative;
              margin-right: 15px;
                }
            .idBox::after{
                content: ":";
                position: absolute;
                right: -8px;
                top: -1px;
                
            }                     
          }

        }     
    }
  }     
  // 黑貓貓
  .mode04{
    position: absolute;
    top: -86px;
    left: -35px;
    width: 140px;
    .chat_outline{
        &::before{
            content: '';
            display: block;
            height: 27px;
            background: url(../img/mode/04/b_up.png) no-repeat;
        }
        &::after{
            content: '';
            display: block;
            height: 22px;
            background: url(../img/mode/04/b_down.png) no-repeat;
        }
        .txt_container{
            &::before{
                content: '';
                position: absolute;
                left: 0px;
                top: 0;
                display: inline-block;
                width: 25px;
                height: 300px;
                background: url(../img/mode/04/b_left.png) repeat-y;
                background-position: 0 0;
            }
              &::after{
                content: '';
                position: absolute;
                right: 0px;
                top: 0px;
                display: inline-block;
                width: 21px;
                height: 300px;
                background: url(../img/mode/04/b_right.png) repeat-y;
                background-position: 0px 0;
            }            
          .Txtcontent{
            background-color: #1b1b44;
            color: #aaaaee;
            position: relative;
            // 依據左的圖邊設定margin-left
            margin-left: 25px;
            // 依據第一行何時換行設定寬 (mode最長寬 - 左右圖的寬)
            width: 94px;
            // 依據沒填滿的空間 設定padding
            padding-top: 3px; 
            padding-bottom: 3px;
            // border: 1px solid;

            .txt{
              // opacity: 0;
              display: inline-block;
              font-size: 11px;
            }
            .idBox{
              position: relative;
              margin-right: 15px;
                }
            .idBox::after{
                content: ":";
                position: absolute;
                right: -8px;
                top: -1px;
                
            }                     
          }

        }     
    }
  }     