.chatring {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.chatring .chat_outline {
  position: relative;
}
.chatring .chat_outline .txt_container {
  position: relative;
  overflow: hidden;
}
.chatring .chat_outline .txt_container .Txtcontent {
  position: relative;
  text-align: center;
  display: inline-block;
  word-break: break-all;
  font-size: 11px;
  background-color: #331177;
  color: #ee88ff;
  position: relative;
  margin-left: 28px;
  width: 108px;
  padding-top: 1px;
  line-height: 15px;
}
.chatring .chat_outline .txt_container .Txtcontent .txt {
  display: inline-block;
  line-height: 15px;
  text-align: center;
}
.chatring .chat_outline .txt_container .Txtcontent .idBox {
  position: relative;
}
.chatring .chat_outline .txt_container .Txtcontent .idBox::after {
  content: ":";
  position: absolute;
  right: -8px;
  top: -1px;
}

.mode00 {
  position: absolute;
  top: -65px;
  left: -10px;
  width: 110px;
}
.mode00 .chat_outline::before {
  content: "";
  display: block;
  height: 6px;
  background: url(../img/mode/00/b_up.png) no-repeat;
}
.mode00 .chat_outline::after {
  content: "";
  display: block;
  height: 14px;
  background: url(../img/mode/00/b_down.png) no-repeat;
}
.mode00 .chat_outline .txt_container::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  display: inline-block;
  width: 10px;
  height: 300px;
  background: url(../img/mode/00/b_left.png) repeat-y;
  background-position: 0 0;
}
.mode00 .chat_outline .txt_container::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 0px;
  display: inline-block;
  width: 10px;
  height: 300px;
  background: url(../img/mode/00/b_right.png) repeat-y;
  background-position: -2px 0;
}
.mode00 .chat_outline .txt_container .Txtcontent {
  background-color: #EEE;
  color: #000;
  width: 94px;
  margin-left: 1px;
  padding: 0 3px 2px 3px;
}
.mode00 .chat_outline .txt_container .Txtcontent .txt {
  font-size: 11px;
  width: 80px;
}
.mode00 .chat_outline .txt_container .Txtcontent .idBox {
  position: relative;
  width: 80px;
  display: block;
  text-align: center;
}
.mode00 .chat_outline .txt_container .Txtcontent .idBox::after {
  content: ":";
  position: absolute;
  right: 0px;
}

.mode01 {
  position: absolute;
  top: -100px;
  left: -40px;
  width: 150px;
}
.mode01 .chat_outline::before {
  content: "";
  display: block;
  height: 31px;
  background: url(../img/mode/01/b_up.png) no-repeat;
}
.mode01 .chat_outline::after {
  content: "";
  display: block;
  height: 22px;
  position: relative;
  left: 6px;
  top: -7px;
  background: url(../img/mode/01/b_down.png) no-repeat;
}
.mode01 .chat_outline .txt_container::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 0;
  display: inline-block;
  width: 14px;
  height: 300px;
  background: url(../img/mode/01/b_left.png) repeat-y;
  background-position: 0 0;
}
.mode01 .chat_outline .txt_container::after {
  content: "";
  position: absolute;
  right: -9px;
  top: 0;
  display: inline-block;
  width: 14px;
  height: 300px;
  background: url(../img/mode/01/b_right.png) repeat-y;
  background-position: -2px 0;
}
.mode01 .chat_outline .txt_container .Txtcontent {
  background-color: #5f96be;
  margin-left: 15px;
  padding: 3px 20px 10px 20px;
  width: 130px;
}
.mode01 .chat_outline .txt_container .Txtcontent .txt {
  position: relative;
  left: -7px;
  width: 100px;
}
.mode01 .chat_outline .txt_container .Txtcontent .idBox {
  position: relative;
  margin-right: 15px;
}
.mode01 .chat_outline .txt_container .Txtcontent .idBox::after {
  content: ":";
  position: absolute;
  right: -8px;
  top: -1px;
}
.mode01 .chat_outline .txt_container .Txtcontent .txt, .mode01 .chat_outline .txt_container .Txtcontent .idBox, .mode01 .chat_outline .txt_container .Txtcontent .idBox::after {
  color: #884400;
  font-weight: 500;
  text-shadow: 0 0 0 #884400, 0 0 0 #884400, 0 0 0 #884400;
}

.mode02 {
  position: absolute;
  top: -105px;
  left: -50px;
  width: 164px;
}
.mode02 .chat_outline::before {
  content: "";
  display: block;
  height: 31px;
  background: url(../img/mode/02/b_up.png) no-repeat;
}
.mode02 .chat_outline::after {
  content: "";
  display: block;
  height: 33px;
  background: url(../img/mode/02/b_down.png) no-repeat;
}
.mode02 .chat_outline .txt_container::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  display: inline-block;
  width: 28px;
  height: 300px;
  background: url(../img/mode/02/b_left.png) repeat-y;
  background-position: 0 0;
}
.mode02 .chat_outline .txt_container::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  width: 28px;
  height: 300px;
  background: url(../img/mode/02/b_right.png) repeat-y;
  background-position: 0px 0;
}
.mode02 .chat_outline .txt_container .Txtcontent {
  background-color: #331177;
  color: #ee88ff;
  position: relative;
  margin-left: 28px;
  width: 108px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.mode02 .chat_outline .txt_container .Txtcontent .txt {
  display: inline-block;
  font-size: 11px;
}
.mode02 .chat_outline .txt_container .Txtcontent .idBox {
  position: relative;
  margin-right: 15px;
}
.mode02 .chat_outline .txt_container .Txtcontent .idBox::after {
  content: ":";
  position: absolute;
  right: -8px;
  top: -1px;
}

.mode03 {
  position: absolute;
  top: -86px;
  left: -35px;
  width: 140px;
}
.mode03 .chat_outline::before {
  content: "";
  display: block;
  height: 27px;
  background: url(../img/mode/03/b_up.png) no-repeat;
}
.mode03 .chat_outline::after {
  content: "";
  display: block;
  height: 22px;
  background: url(../img/mode/03/b_down.png) no-repeat;
}
.mode03 .chat_outline .txt_container::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  display: inline-block;
  width: 25px;
  height: 300px;
  background: url(../img/mode/03/b_left.png) repeat-y;
  background-position: 0 0;
}
.mode03 .chat_outline .txt_container::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  width: 21px;
  height: 300px;
  background: url(../img/mode/03/b_right.png) repeat-y;
  background-position: 0px 0;
}
.mode03 .chat_outline .txt_container .Txtcontent {
  background-color: #cc96b1;
  color: #fff;
  position: relative;
  margin-left: 25px;
  width: 94px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.mode03 .chat_outline .txt_container .Txtcontent .txt {
  display: inline-block;
  font-size: 11px;
}
.mode03 .chat_outline .txt_container .Txtcontent .idBox {
  position: relative;
  margin-right: 15px;
}
.mode03 .chat_outline .txt_container .Txtcontent .idBox::after {
  content: ":";
  position: absolute;
  right: -8px;
  top: -1px;
}

.mode04 {
  position: absolute;
  top: -86px;
  left: -35px;
  width: 140px;
}
.mode04 .chat_outline::before {
  content: "";
  display: block;
  height: 27px;
  background: url(../img/mode/04/b_up.png) no-repeat;
}
.mode04 .chat_outline::after {
  content: "";
  display: block;
  height: 22px;
  background: url(../img/mode/04/b_down.png) no-repeat;
}
.mode04 .chat_outline .txt_container::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  display: inline-block;
  width: 25px;
  height: 300px;
  background: url(../img/mode/04/b_left.png) repeat-y;
  background-position: 0 0;
}
.mode04 .chat_outline .txt_container::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  width: 21px;
  height: 300px;
  background: url(../img/mode/04/b_right.png) repeat-y;
  background-position: 0px 0;
}
.mode04 .chat_outline .txt_container .Txtcontent {
  background-color: #1b1b44;
  color: #aaaaee;
  position: relative;
  margin-left: 25px;
  width: 94px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.mode04 .chat_outline .txt_container .Txtcontent .txt {
  display: inline-block;
  font-size: 11px;
}
.mode04 .chat_outline .txt_container .Txtcontent .idBox {
  position: relative;
  margin-right: 15px;
}
.mode04 .chat_outline .txt_container .Txtcontent .idBox::after {
  content: ":";
  position: absolute;
  right: -8px;
  top: -1px;
}

.mode05 {
  position: absolute;
  top: -53px;
  left: -25px;
  width: 121px;
}
.mode05 .chat_outline::before {
  content: "";
  display: block;
  height: 21px;
  background: url(../img/mode/05/b_up.png) no-repeat;
}
.mode05 .chat_outline::after {
  content: "";
  display: block;
  height: 11px;
  background: url(../img/mode/05/b_down.png) no-repeat;
}
.mode05 .chat_outline .txt_container::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  display: inline-block;
  width: 16px;
  height: 300px;
  background: url(../img/mode/05/b_left.png) repeat-y;
  background-position: 0 0;
}
.mode05 .chat_outline .txt_container::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  width: 15px;
  height: 300px;
  background: url(../img/mode/05/b_right.png) repeat-y;
  background-position: 0px 0;
}
.mode05 .chat_outline .txt_container .Txtcontent {
  background-color: #e6bce6;
  color: #fffbff;
  position: relative;
  margin-left: 16px;
  width: 90px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.mode05 .chat_outline .txt_container .Txtcontent .txt {
  display: inline-block;
  font-size: 11px;
}
.mode05 .chat_outline .txt_container .Txtcontent .idBox {
  position: relative;
  margin-right: 15px;
}
.mode05 .chat_outline .txt_container .Txtcontent .idBox::after {
  content: ":";
  position: absolute;
  right: -8px;
  top: -1px;
}/*# sourceMappingURL=ring.css.map */