.chatring{
  position: relative;

  user-select: none;
    // 調整上下邊框
  .chat_outline{
    position: relative;
    //   調整左右邊框
    .txt_container{
      position: relative;
      overflow: hidden;
        // 邊框內文調整
      .Txtcontent{
        position: relative;
        text-align: center;
        display: inline-block;
        word-break: break-all;
        font-size: 11px;
        .txt{
          display: inline-block;
           // 決定字數換行的寬度
          // border: 1px solid #F00;
          line-height: 15px;
          text-align: center;
        }
      }
    }
  }
}
  .person{
    position: fixed;
    right: 50%;
    top: 200px;
    width: 70px;
    height: 90px;
    border: 1px solid #F00;

  }
  .mode00{
    position: absolute;
    top: -65px;
    left: -10px;
    width: 110px;
    .chat_outline{
      // border: 1px solid #FF0;
      // position: fixed;
        &::before{
            content: '';
            display: block;
            height: 6px;
            background: url(../img/chat_borer/up.png) no-repeat;
        }
        &::after{
            content: '';
            display: block;
            height: 14px;
            background: url(../img/chat_borer/down.png) no-repeat;
        }
        .txt_container{
            &::before{
                content: '';
                position: absolute;
                left: 0px;
                top: 0;
                display: inline-block;
                width: 10px;
                height: 300px;
                background: url(../img/chat_borer/left.png) repeat-y;
                background-position: 0 0;
            }
              &::after{
                content: '';
                position: absolute;
                right: 8px;
                top: 0px;
                display: inline-block;
                width: 10px;
                height: 300px;
                background: url(../img/chat_borer/right.png) repeat-y;
                background-position: -2px 0;
            }            
          .Txtcontent{
            background-color: #EEE;
            width: 94px; 
            margin-left: 1px;
            padding: 0 3px 2px 3px;
            border: 1px solid #FF0;
            .txt{
              font-size: 11px;
              width: 80px;
            }
            .idBox{
              position: relative;
              width: 80px;
              display: block;
              text-align: center;
            }
            .idBox::after{
                content: ":";
                position: absolute;
                right: 0px;
            }                     
          }

        }     
    }
  }   
  
  .mode01{
    position: absolute;
    top: -100px;
    left: -40px;
    width: 150px;
    .chat_outline{
        .txt_container{
          // border: 1px solid #F00;
            .Txtcontent{
                background-color: #5f96be;
                margin-left: 15px;
                padding: 3px 20px 10px 20px;
                width: 130px;
                // border: 1px solid #FF0;
                .txt{
                  position: relative;
                  left: -7px;
                  width: 100px;
                }  
                .idBox{
                  position: relative;
                  margin-right: 15px;
                }
                .idBox::after{
                    content: ":";
                    position: absolute;
                    right: -8px;
                    top: -1px;
                    
                }    
                .txt,.idBox,.idBox::after{
                  color: #884400;
                  font-weight: 500;
                  text-shadow: 0 0 0 #884400,0 0 0 #884400,0 0 0 #884400;
                  
                }              
            }
        }  
        .txt_container::before{
            content: '';
            position: absolute;
            left: 7px;
            top: 0;
            display: inline-block;
            width: 14px;
            height: 300px;
            background: url(../img/catmode/left_border.png) repeat-y;
            background-position: 0 0;
  
        }      
        .txt_container::after{
            content: '';
            position: absolute;
            right: -9px;
            top: 0;
            display: inline-block;
            width: 14px;
            height: 300px;
            background: url(../img/catmode/right_border.png) repeat-y;
            background-position: -2px 0;
  
        }    
        }
    .chat_outline::before{
        content: '';
        display: block;
        height: 31px;
        background: url(../img/catmode/up.png) no-repeat;
    }    
    .chat_outline::after{
        content: '';
        display: block;
        height: 22px;
        position: relative;
        left: 6px;
        top: -7px;
        background: url(../img/catmode/down.png) no-repeat;
        
    }   
  }  