<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boss 資訊</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="app">

        
        <div class="menu">
            <span @click="handNavBool" id="bossMenuBtn" class="btntxt act">Boss</span>

            <nav  class="pcNav" :style="{left: NavWidth}">
                <div class="bossList">

                    <span @click="handNavBool" class="navback">
                            <span class="bar"></span>
                            <span class="bar bar2"></span>
                    </span>

                    <span class="title">
                        <div class="navtitle">
                            <span class="txt1">名稱</span>
                            <span class="txt2">難易度</span>
                        </div>
                        
                        <ul class="pageinfo">
                            <li class="infoItem">
                
                                <span class="bossImg">
                                        <img src="./img/boss/list_使烏.png" alt="">
                                </span>
                
                                <span class="bossGrade">
                                    <span class="GradeItem"><img @click= "chbossNameTest" class="GradeImg" data-bossname="使烏" src="./img/boss/grade_normal.png" alt="normal"></span>
                                    <span class="GradeItem"><img @click= "chbossNameTest" class="GradeImg" data-bossname="使烏" src="./img/boss/grade_hard.png" alt="hard"></span>
                                </span>
                            </li>

                            <li class="infoItem">
                                
                                <span class="bossImg">
                                        <img src="./img/boss/list_戴米安.png" alt="">
                                </span>
                
                                <span class="bossGrade">
                                    <span class="GradeItem"><img @click= "chbossNameTest" class="GradeImg" data-bossname="戴米安" src="./img/boss/grade_normal.png" alt="normal"></span>
                                    <span class="GradeItem"><img @click= "chbossNameTest" class="GradeImg" data-bossname="戴米安" src="./img/boss/grade_hard.png" alt="hard"></span>
                                </span>
                            </li>
                            <li class="infoItem">
                                
                                <span class="bossImg">
                                        <img src="./img/boss/list_露希妲.png" alt="">
                                </span>
                
                                <span class="bossGrade">
                                    <span class="GradeItem"><img @click= "chbossNameTest" class="GradeImg" data-bossname="露希妲" src="./img/boss/grade_easy.png" alt="easy"></span>
                                    <span class="GradeItem"><img @click= "chbossNameTest" class="GradeImg" data-bossname="露希妲" src="./img/boss/grade_normal.png" alt="normal"></span>
                                    <span class="GradeItem"><img @click= "chbossNameTest" class="GradeImg" data-bossname="露希妲" src="./img/boss/grade_hard.png" alt="hard"></span>
                                </span>
                            </li>
                        </ul>
                    </span>


                    <ul class="pageinfo"></ul>
                    
                    <div class="pagelist">
                        <span @click= "handNavPage" id="backbtn" class="backbtn">上一頁</span>
                        <span class="pagecontent">
                            {{NavPageidx}}/2
                        </span>
                        <span @click= "handNavPage" id="nextbtn" class="nextbtn">下一頁</span>
                    </div>
                    
                </div>

    
    
            </nav>

            <nav class="phoneNav">

                <div class="searchbar">
                    <input type="text" placeholder="輸入打王名稱">
                </div>

                <span class="navback">
                    <span class="bar"></span>
                    <span class="bar bar2"></span>
                </span>

                <ul class="bossinfo">
                    <li class="infoitem">
                        <span class="imgbox">
                            <img src="./img/boss/phone_list_守護天使綠水靈.png" alt="">
                        </span>
                        <span class="itemtxt">守護天使綠水靈</span>
                    </li>

                </ul>

            </nav>

        </div>

        <div class="sectionTagBox">
            <ul class="taglist">
                <li 
                @click= "handsectionTagAct"
                :class="['tagitem', {act : list.act}]"
                v-for="list in sectionTagItem"
                :key= "list.title"
                >{{list.title}}
                </li>
            </ul>
        </div>

        <main class="bossContainer">
            
                <section  v-show="sectioncont[0].open" class="bossIntro">

                    <ul class="GradeList">
                        <li @click= "handGradeMenu" id="GradeVal"><img :src="GradeVal.url" :alt="GradeVal.alt"></li>

                        <li 
                        @click= "handGradeVal" 
                        v-show= "GradeListbool" 
                        :data-alt= "list.alt"
                        v-for="list in showGradeList"
                        :key= "list.alt"
                        >
                        <img :src="list.url" :alt="list.alt">
                        </li>
                    </ul>

                    <h1 class="title">BOSS入場規則</h1>

                    <div class="content">
                        <div class="bossImg">
                            <img :src="banner" alt="">
                        </div>
                        <div class="bosstxt">
                            <ul class="bosstxtList">
                                <li 
                                v-for="list in bosstxtRender"
                                :key= "list.key"
                                >{{list.title}}<span>{{list.msg}}</span></li>
                            </ul>
                        </div>

                    </div>
                </section>

                <section v-show="sectioncont[1].open" class="bossData">
                    <ul class="GradeList">
                        <li @click= "handGradeMenu" id="GradeVal"><img :src="GradeVal.url" :alt="GradeVal.alt"></li>
                        <li 
                        @click= "handGradeVal" 
                        v-show= "GradeListbool" 
                        :data-alt= "list.alt"
                        v-for="list in showGradeList"
                        :key= "list.alt"
                        >
                        <img :src="list.url" :alt="list.alt">
                        </li>
                    </ul>

                    <h1 class="title">BOSS資訊</h1>
                    <!-- 怪物收藏圖 名稱-->
                    <div class="content">
                        <div class="stagecont">
                            <h2 class="stagetitle">一階</h2>
                            <div class="stageinfo">
                                <p class="bossS1LV">BOSS等級:<span id="bossS1LV">Lv{{230}}</span></p>
                                <p class="bossDefense">防禦力:<span id="bossDefenseVal">{{300}}%</span></p>
                                <p class="bossHP">血量:<span id="bossHPVal">{{"x兆"}}</span></p>
                                <p class="attributeHalf">屬性減半:<span id="attributeHalfVal">{{true}}</span></p>
                            </div>
                        </div>
                        
                        <div class="stagecont">
                            <h2 class="stagetitle">二階</h2>
                            <div class="stageinfo">
                                <p class="bossS1LV">BOSS等級:<span id="bossS1LV">Lv{{230}}</span></p>
                                <p class="bossDefense">防禦力:<span id="bossDefenseVal">{{300}}%</span></p>
                                <p class="bossHP">血量:<span id="bossHPVal">{{"x兆"}}</span></p>
                                <p class="attributeHalf">屬性減半:<span id="attributeHalfVal">{{true}}</span></p>
                            </div>
                        </div>

                        <div class="stagecont">
                            <h2 class="stagetitle">三階</h2>
                            <div class="stageinfo">
                                <p class="bossS1LV">BOSS等級:<span id="bossS1LV">Lv{{230}}</span></p>
                                <p class="bossDefense">防禦力:<span id="bossDefenseVal">{{300}}%</span></p>
                                <p class="bossHP">血量:<span id="bossHPVal">{{"x兆"}}</span></p>
                                <p class="attributeHalf">屬性減半:<span id="attributeHalfVal">{{true}}</span></p>
                                <p class="bossHP">鎖血後恢復血量:<span id="bossHPVal2">{{"5985億"}}</span></p>
                            </div>
                        </div>
                    </div>
                    <h1 class="title">怪物資訊</h1>
                     <!-- 怪物收藏圖 名稱 -->
                    <div class="content">
                        <div class="mosterinfo">
                            <p class="bossS1LV">怪物等級:<span id="mosterS1LV">Lv{{230}}</span></p>
                            <p class="mosterDefense">防禦力:<span id="mosterDefenseVal">{{300}}%</span></p>
                            <p class="bossHP">血量:<span id="mosterHPVal">{{"x兆"}}</span></p>
                            <p class="attributeHalf">屬性減半:<span id="attributeHalfVal">{{false}}</span></p>
                        </div>       
                    <!-- 怪物收藏圖 名稱 -->                 
                        <div class="mosterinfo">
                            <p class="bossS1LV">怪物等級:<span id="bossS1LV">Lv{{230}}</span></p>
                            <p class="bossDefense">防禦力:<span id="bossDefenseVal">{{300}}%</span></p>
                            <p class="bossHP">血量:<span id="bossHPVal">{{"x兆"}}</span></p>
                            <p class="attributeHalf">屬性減半:<span id="attributeHalfVal">{{false}}</span></p>
                        </div>                        
                    </div>


                </section>

                <section v-show="sectioncont[2].open" class="damageRef">
                    <div class="content">
                        <div class="arcDamageTable">
                            <h1 class="tableTitle"><span id="tableTitleVal">{{"Arc(祕法符文)"}}</span>增幅</h1>
                            <ul class="arcList">
                                <li class="listTitle">傷害%數<span>角色Arc</span></li>
                                <li class="item">10%<span>{{0}}</span></li>
                                <li class="item">30%<span>{{40}}</span></li>
                                <li class="item">60%<span>{{110}}</span></li>
                                <li class="item">70%<span>{{180}}</span></li>
                                <li class="item">80%<span>{{255}}</span></li>
                                <li class="item">100%<span>{{360}}</span></li>
                                <li class="item">110%<span>{{400}}</span></li>
                                <li class="item">130%<span>{{470}}</span></li>
                                <li class="item">150%<span>{{540}}</span></li>
                            </ul>
                        </div>
                        
                        <div class="autDamageTable">
                            <h1 class="tableTitle"><span id="tableTitleVal">{{"Aut(真實符文)"}}</span>增幅</h1>

                            <h2 class="stage">一階</h2>
                            <ul class="autList">
                                <li class="listTitle">傷害%數<span>角色AUT</span></li>
                                <li class="item">5%<span>{{0}}以下</span></li>
                                <li class="item">10%<span>{{40}}</span></li>
                                <li class="item">20%<span>{{110}}</span></li>
                                <li class="item">30%<span>{{180}}</span></li>
                                <li class="item">40%<span>{{255}}</span></li>
                                <li class="item">50%<span>{{360}}</span></li>
                                <li class="item">60%<span>{{400}}</span></li>
                                <li class="item">70%<span>{{470}}</span></li>
                                <li class="item">80%<span>{{540}}</span></li>
                                <li class="listTitle">傷害%數<span>角色AUT</span></li>
                                <li class="item">90%<span>{{540}}</span></li>
                                <li class="item">100%<span>{{540}}</span></li>
                                <li class="item">105%<span>{{540}}</span></li>
                                <li class="item">110%<span>{{540}}</span></li>
                                <li class="item">115%<span>{{540}}</span></li>
                                <li class="item">120%<span>{{540}}</span></li>
                                <li class="item">125%<span>{{540}}以上</span></li>
                                <li class="item none"><span>.</span></li>
                                <li class="item none"><span>.</span></li>
                            </ul>

                            <h2 class="stage">二階</h2>
                            <ul class="autList">
                                <li class="listTitle">傷害%數<span>角色AUT</span></li>
                                <li class="item">5%<span>{{0}}以下</span></li>
                                <li class="item">10%<span>{{40}}</span></li>
                                <li class="item">20%<span>{{110}}</span></li>
                                <li class="item">30%<span>{{180}}</span></li>
                                <li class="item">40%<span>{{255}}</span></li>
                                <li class="item">50%<span>{{360}}</span></li>
                                <li class="item">60%<span>{{400}}</span></li>
                                <li class="item">70%<span>{{470}}</span></li>
                                <li class="item">80%<span>{{540}}</span></li>
                                <li class="listTitle">傷害%數<span>角色AUT</span></li>
                                <li class="item">90%<span>{{540}}</span></li>
                                <li class="item">100%<span>{{540}}</span></li>
                                <li class="item">105%<span>{{540}}</span></li>
                                <li class="item">110%<span>{{540}}</span></li>
                                <li class="item">115%<span>{{540}}</span></li>
                                <li class="item">120%<span>{{540}}</span></li>
                                <li class="item">125%<span>{{540}}以上</span></li>
                                <li class="item none"><span>.</span></li>
                                <li class="item none"><span>.</span></li>

                            </ul>
                        </div>

                    </div>

                    
                </section>

                <section v-show="sectioncont[3].open" class="bossBonus">
                    <ul class="GradeList">
                        <li id="GradeVal"><img src="./img/boss/grade_hard.png" alt=""></li>
                        <li><img src="./img/boss/grade_easy.png" alt="簡單"></li>
                        <li><img src="./img/boss/grade_normal.png" alt="普通"></li>
                        <li><img src="./img/boss/grade_hard_act.png" alt="困難"></li>
                    </ul>
                    <h1 class="title">BOSS獎勵</h1>
                    
                    <div class="generalBonus">
                        <h2 class="subtitle">基本獎勵</h2>
                        <div class="fixedItem">
                            <p class="guildPoint">公會點數:<span id="guildPointVal">{{0}}</span></p>
                            <p class="mileage">里程數:<span>{{0}}</span></p>
                            <p class="money">
                                <span class="moneytitle">結晶價格</span>
                                <span class="normalServe">一般伺服器 <span class="moneyVal">${{0}}</span> <span class="money_chinese">{{"萬"}}</span>  </span>
                                <span class="Reboot">Reboot伺服器 <span class="moneyVal">${{0}}</span> <span class="money_chinese">{{"萬"}}</span></span>
                            </p>
                        </div>

                        <div class="notfixedItem">
                            <p class="dubiouscubeItem"><img src="" alt="方塊">{{"可疑方塊:"}} {{"x"}}個</span></p>
                            <p class="potionItem"><span><img src="" alt="藥水">{{"超級藥水:"}} {{"x"}}個</span></p>
                            <p class="crossicons"><span><img src="" alt="十字">十字硬幣: {{"x"}}個</span></p>
                            <p class="fameItem"><img src="" alt="150名譽">名譽[+150]: {{"x"}}個</p>
                            <p class="sparkItem"><img src="" alt="輪迴星火">{{"XXX"}}輪迴星火:1個</p>
                            <p class="prayItem"><img src="" alt="祈禱綠">、<img src="" alt="祈禱紅色"></p>
                        </div>
                    </div>
                    
                    <div class="majorBonus">
                        <div class="suuAfterItemBox">
                            <h1 class="title">BOSS基本掉落物</h1>
                            <ul class="suuAfterList">
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="太初">
                                    </div>
                                    <div class="itemtxt">太初</div>
                                    <div class="itemavailable"><img src="#" alt="true"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="名譽">
                                    </div>
                                    <div class="itemtxt">名譽[+5000]</div>
                                    <div class="itemavailable"><img src="#" alt="true"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="經驗秘藥">
                                    </div>
                                    <div class="itemtxt">小經驗</div>
                                    <div class="itemavailable"><img src="#" alt="true"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="經驗天氣">
                                    </div>
                                    <div class="itemtxt">追加經驗</div>
                                    <div class="itemavailable"><img src="#" alt="true"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="閃藍">
                                    </div>
                                    <div class="itemtxt">閃藍</div>
                                    <div class="itemavailable"><img src="#" alt="true"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="閃紅">
                                    </div>
                                    <div class="itemtxt">閃紅</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="紅火">
                                    </div>
                                    <div class="itemtxt">紅火</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="紫火">
                                    </div>
                                    <div class="itemtxt">紫火</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="黑火">
                                    </div>
                                    <div class="itemtxt">黑火</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="強力">
                                    </div>
                                    <div class="itemtxt">強力</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="永遠">
                                    </div>
                                    <div class="itemtxt">永遠</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="暗黑">
                                    </div>
                                    <div class="itemtxt">暗黑</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="優質武器">
                                    </div>
                                    <div class="itemtxt">優質武器</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="優質飾品">
                                    </div>
                                    <div class="itemtxt">優質飾品</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="優質寵物">
                                    </div>
                                    <div class="itemtxt">優質寵物</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="飾品">
                                    </div>
                                    <div class="itemtxt">飾品</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="渾沌">
                                    </div>
                                    <div class="itemtxt">渾沌</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                                <li class="item">
                                    <div class="itemImg">
                                        <img src="" alt="匠人">
                                    </div>
                                    <div class="itemtxt">匠人</div>
                                    <div class="itemavailable"><img src="#" alt="check"></div>
                                </li>
                            </ul>
                        </div>

                        <div class="majorBox">
                            <h1 class="title">BOSS特殊掉落物</h1>
                            <ul class="majorList">
                                    <li>
                                        <img src="" alt="裝備">
                                        <span>分類</span>
                                        <span>裝備的名稱
                                            <a href="#">相關裝備set</a>
                                        </span>
                                    </li>
   
                                    <li>
                                        <img src="" alt="椅子">
                                        <span>椅子</span>
                                        <span>椅子的名稱
                                             <a href="#">椅子圖示</a>
                                        </span>
                                       
                                    </li>

                                    <li>
                                        <img src="" alt="硬幣">
                                        <span>硬幣</span>
                                        <span>硬幣的名稱
                                            <a href="#">硬幣商店說明</a>
                                        </span>
                                    </li>
                                    <li>
                                        <img src="" alt="碎片">
                                        <span>碎片</span>
                                        <span>碎片的名稱
                                            <a href="#">碎片相關資訊</a>
                                        </span>
                                    </li>
                                    <li>
                                        <img src="" alt="家具">
                                        <span>家具</span>
                                        <span>家具的名稱
                                            <a href="#">家具連結</a>
                                        </span>
                                        
                                    </li>
                                    <li>
                                        <img src="" alt="老黑入場道具">
                                        <span>老黑入場道具</span>
                                        <span>老黑入場道具名稱
                                            <a href="#">老黑入場資訊</a>
                                        </span>
                                    </li>
                            </ul>
                        </div>
                    </div>

                </section>

                <section v-show="sectioncont[4].open" class="otherBonusInfo">
                    <ul class="GradeList">
                        <li id="GradeVal"><img src="./img/boss/grade_hard.png" alt=""></li>
                        <li><img src="./img/boss/grade_easy.png" alt="簡單"></li>
                        <li><img src="./img/boss/grade_normal.png" alt="普通"></li>
                        <li><img src="./img/boss/grade_hard_act.png" alt="困難"></li>
                    </ul>
                    <h1 class="title">其他相關資訊</h1>
                 
                    <div class="BonusInfoitem coinStoreInfo">
                        <h1 class="title">商店資訊</h1>
                        <div class="content">
                            <p>兌換方式:<span></span></p>
                        </div>
                    </div>
                    <div class="BonusInfoitem chipInfo">
                        <h1 class="title">碎片兌換資訊</h1>
                        <div class="content">
                        </div>
                    </div>

                   
                    <div class="BonusInfoitem seriesInfo">
                        <h1 class="title">裝備資訊</h1>
                        <div class="content">
                        </div>
                    </div>

                    <div class="BonusInfoitem furniture">
                        <h1 class="title">家具展示</h1>
                        <div class="content">
                        </div>
                    </div>

                    <div class="BonusInfoitem aboutBlackMagic">
                        <div class="content">
                            <h1 class="title">老黑入場須知</h1>
                        </div>
                    </div>

                </section>
           
        </main>
        <footer>

            <div class="player">
                <li>datacollecter</li>
                <li>painter</li>
                <li>Front-end engineer</li>
            </div>

            <div class="contactInfo">
                <div class="discord"></div>
            </div>

        </footer>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>