<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div id="app">
        <!-- <div class="introBg" v-show="!Activitybool"> -->
        <div class="introBg" v-show="true">
            <img src="./img/introBg_home.png" alt="皮卡">
        </div>

        <header v-show="!Activitybool">
            <!-- <div class="headerMenu" v-show=""> -->
            <div class="headerMenu" @click="handheaderMenu">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </div>
            <div class="headercross" v-show="headerMenubool" @click="handheaderMenu">
            <!-- <div class="headercross" v-show=""> -->
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
            </div>
            <!-- <ul class="headerList"> -->
            <ul class="headerList" v-show="headerMenubool">
                <li><a href="#" @click.prevent="handActivitybool">官網近期活動</a></li>
                <li><a href="#">About me</a></li>
                <li><a href="#">Discord</a></li>
            </ul>
           
        </header>
        <div class="ActivityContainer" v-show="Activitybool">
            <div 
            @click="handActivitybool"
            class="Activitycrossbox">
                <div class="bar"></div>
                <div class="bar bar2"></div>
            </div>
            <div 
            @click="handscrollTop"
            :class="['ActivityscrollTop', {'show': scrollValue !== 0}]">
            <span>Top</span>
            </div>
            <div 
           @scroll.passive="onScroll"
            class="mapleActivity" id="mapleActivity" ref="scrollContainer">
                <div class="modeTag">
                    <div class="modeTxt">{{"latest"}}</div>
                    <!-- history -->
                </div>
                <div class="latestContainer">
                    <div class="title">近期官網活動</div>
                    <div class="contentTag">
                        <li 
                        v-for="list in ActivityTagData"
                        :key="list.key"
                        :data-tag="list.key" 
                        @click="handActivityTag"
                        :class="[list.class,{'act': list.act}]"
                        >
                        <img :src="list.url" :alt="list.key">
                        </li>
                    </div>
    
                    <div class="content">
                       <img class="banner" :src="ActivitySelected[0].bannerUrl" alt="">
                       <!-- 黃金蘋果 -->
                       <div class="ProbabilityBox goldApple" v-show="ActivitySelected[0].key === '黃金蘋果'">
                        <div class="title">機率表</div>
                        <div class="refHref">
                            <span>詳細機率: <a href="#">官網連結</a></span>
                        </div>
                        <div class="ProbabilityTable">
                        <ul>
                            <li class="itemTitle">
                                <span>重點項目</span>
                                <span>蘋果機率</span>
                                <span>金箱子機率</span>
                            </li>
                            <li class="item">
                                <span>輪迴碑石</span>
                                <span>0.03%</span>
                                <span>2.5%</span>
                            </li>
                            <li class="item">
                                <span>漆黑碎片x1</span>
                                <span>6%</span>
                                <span>-</span>
                            </li>
                            <li class="item">
                                <span>漆黑碎片x20</span>
                                <span>-</span>
                                <span>4.5%</span>
                            </li>
                            <li class="item">
                                <span>漆黑碎片x15</span>
                                <span>-</span>
                                <span>6%</span>
                            </li>
                            <li class="item">
                                <span>漆黑碎片x10</span>
                                <span>-</span>
                                <span>7%</span>
                            </li>
                        </ul>
                        </div>
                        
                        
                      </div>
                      <!-- 時尚箱 -->
                       <div class="ProbabilityBox fashion" v-show=" ActivitySelected[0].key === '時尚隨機箱' ">
                        <div class="title">機率表</div>
                        <div class="refHref">
                            <span>詳細機率: <a href="#">官網連結</a></span>
                            <span>點裝收尋: <a target="_blank" href="javascript:;">連結</a>(由 <span class="author">惡魔品質</span> 製作)</span>
                        </div>
                        <div class="ProbabilityTable">
                            <ul>
                                <h1 class="fashionTitle">大師寧靜之黑</h1>
                                <li class="itemTitle"><span>項目</span><span>機率</span></li>
                                <li><span>暮光之翼 </span><span>0.60%</span></li>
                                <li><span>寧靜孤寂(男) </span><span>0.50%</span></li>
                                <li><span>沉寂的靈魂(女)</span><span>0.50%</span></li>
                                <li><span>午夜旅程(男) </span><span>0.70%</span>
                                <li><span>午夜餘韻(女) </span><span>0.70%</span></li>
                                <li><span>靈魂地平線 </span><span>0.60%</span></li>
                                <li><span>光之寧靜 </span><span>0.40%</span></li>
                                <li><span>午夜迴響 </span><span>0.90%</span></li>                            
                            </ul>
                            <ul>
                                <h1 class="fashionTitle">奇襲之舞</h1>
                                <li class="itemTitle"><span>項目</span><span>機率</span></li>
                                <li><span>奇襲之舞頭飾</span><span>0.70%</span></li>
                                <li><span>奇襲之舞套服(男)</span><span>0.60%</span></li>
                                <li><span>奇襲之舞套服(女)</span><span>0.60%</span></li>
                                <li><span>奇襲之舞鞋子</span><span>0.70%</span></li>
                                <li><span>奇襲之舞披風</span><span>0.70%</span></li>
                                <li><span>奇襲之舞鎖鏈</span><span>0.50%</span></li>
                                <li><span>粉貓貓名牌戒指</span><span>1.00%</span></li>
                                <li><span>黑貓貓名牌戒指</span><span>1.00%</span></li>
                                <li><span>粉貓貓聊天戒指</span><span>1.00%</span></li>
                                <li><span>黑貓貓聊天戒指</span><span>1.00%</span></li>
                            </ul>
                        </div>
                        
                        
                       </div>
                       <!-- 皇家美容院 -->
                        <div class="ProbabilityBox dressing" v-show=" ActivitySelected[0].key === '皇家美容院' ">
                            <div class="title">機率表</div>
                            <div class="refHref">
                                <span>詳細機率: <a href="#">官網連結</a></span>
                                <span>髮、臉型收尋: <a target="_blank" href="https://maple7.vercel.app/mix">連結</a>(由 <span class="author">時栖</span> 製作)</span>
                            </div>
                            <div class="ProbabilityTable">
                            <ul>
                                <h1 class="dressingTitle">男生</h1>
                                <li class="itemTitle"><span>主打美髮</span><span>機率</span></li>
                                <li><span>迷霧賽倫髮型</span><span>0.75%</span></li>
                                <li><span>艾普席隆髮型</span><span>0.75%</span></li>
                                <li><span>彩虹髮型</span><span>0.75%</span></li>
                                <li><span>卡印髮型</span><span>0.75%</span></li>
                                <li class="itemTitle"><span>主打整形</span><span>機率</span></li>
                                <li><span>消音臉型</span><span>1.67%</span></li>
                                <li><span>正向能量臉型</span><span>1.67%</span></li>
                                <li><span>甜心臉型</span><span>1.67%</span></li>                                
                            </ul>
                            <ul>
                                <h1 class="dressingTitle">女生</h1>
                                <li class="itemTitle"><span>主打美髮</span><span>機率</span></li>
                                <li><span>賽琳髮型</span><span>0.75%</span></li>
                                <li><span>萊薩髮型</span><span>0.75%</span></li>
                                <li><span>艾羅迪髮型</span><span>0.75%</span></li>
                                <li><span>濃霧艾羅迪髮型</span><span>0.75%</span></li>
                                <li class="itemTitle"><span>主打整形</span><span>機率</span></li>
                                <li><span>消音臉型</span><span>1.67%</span></li>
                                <li><span>正向能量臉型</span><span>1.67%</span></li>
                                <li><span>甜心臉型</span><span>1.67%</span></li>                                
                            </ul>
                            </div>
                        </div>
                       <!-- 寵物 -->
                        <div class="ProbabilityBox pet" v-show=" ActivitySelected[0].key === '寵物隨機箱' ">
                            <div class="title">機率表</div>
                            <div class="refHref">
                                <span>詳細機率: <a href="#">官網連結</a></span>
                            </div>
                            <div class="ProbabilityTable">
                            <ul>
                                <li class="itemTitle"><span>重點項目</span><span>機率</span></li>
                                <li><span>睏睏</span><span>0.70%</span></li>
                                <li><span>矇矇</span><span>0.70%</span></li>
                                <li><span>晃晃</span><span>0.70%</span></li>
                            </ul>
                            </div>
                        </div>
                       <!-- 萌獸 -->
                        <div class="ProbabilityBox cuteMos" v-show=" ActivitySelected[0].key === '萌獸卡牌包' ">
                            <div class="title">機率表</div>
                            <div class="refHref">
                                <span>詳細機率: <a href="#">官網連結</a></span>
                            </div>
                            <div class="ProbabilityTable">
                            <ul>
                                <li class="itemTitle"><span>重點項目</span><span>機率</span></li>
                                <li><span>萊亞思</span><span>0.50%</span></li>
                                <li><span>夏殷</span><span>0.50%</span></li>
                                <li><span>艾普席隆</span><span>0.30%</span></li>
                                <li><span>散漫的掠奪者</span><span>1.20%</span></li>
                                <li><span>兇殘的掠奪者</span><span>1.20%</span></li>
                                <li><span>危險的掠奪者</span><span>1.20%</span></li>
                                <li><span>可疑的不法者</span><span>1.20%</span></li>
                                <li><span>憤怒的不法者</span><span>1.20%</span></li>
                                <li><span>險惡的不法者</span><span>1.20%</span></li>
                            </ul>
                            </div>
                        </div>
                       <!-- 月光水晶 -->
                        <div class="ProbabilityBox crystal" v-show=" ActivitySelected[0].key === '月光水晶' ">
                            <div class="title">機率表</div>
                            <div class="refHref">
                                <span>詳細機率: <a href="#">官網連結</a></span>
                                <span>P系列外觀、椅子<a href="#">連結</a></span>
                            </div>
                            <div class="ProbabilityTable">
                                <ul>
                                <h1 class="remindTxt">各系列的種類機率均相等</h1>
                                <li class="itemTitle"><span>W系列+W系列</span><span>機率</span></li>
                                <li><span>月光水晶鑰匙</span><span>5.8%</span></li>
                                <li><span>P系列</span><span>21%</span></li>
                                <li><span>S系列</span><span>54.9%</span></li>
                                <li class="itemTitle"><span>W系列+S系列</span><span>機率</span></li>
                                <li><span>月光水晶鑰匙</span><span>5.2%</span></li>
                                <li><span>P系列</span><span>30%</span></li>
                                <li><span>D系列</span><span>64.8%</span></li>
                                </ul>
                            </div>
                        </div>

                      
                       <!-- 魔法畫框 -->
                        <div class="ProbabilityBox frame" v-show=" ActivitySelected[0].key === '魔法畫框' ">
                            <div class="title">機率表</div>
                            <div class="refHref">
                                <span>詳細機率: <a href="#">官網連結</a></span>
                            </div>

                            <div class="ProbabilityTable">
                            <ul>
                                <h1 class="remindTxt">
                                    每系列中的種類機率均相等
                                    (<span class="mark">共10種</span>)
                                    <div class="framesort" v-show="true">
                                        <span>分為以下10種:</span>
                                        <span>單手攻擊、雙手攻擊、寵物攻擊、飾品攻擊、防具攻擊</span>
                                        <span>單手魔力、雙手魔力、寵物魔力、飾品魔力、防具魔力</span>
                                    </div>
                                </h1>
                                <li class="itemTitle"><span>重點項目</span><span>機率</span></li>
                                <li><span>V系列</span><span>15%</span></li>
                                <li><span>究極系列</span><span>8%</span></li>
                                <li><span>命運系列</span><span>8%</span></li>
                                <li><span>救世系列</span><span>1%</span></li>
                                <li><span>白金槌子</span><span>5%</span></li>
                                <li><span>恢復卡交換券</span><span>3%</span></li>
                            </ul>
                            </div>
                        </div>
                       <!-- 潘朵拉箱子 -->
                        <div class="ProbabilityBox Pandora" v-show=" ActivitySelected[0].key === '潘朵拉箱子' ">
                            <div class="title">機率表</div>
                            <div class="refHref">
                                <span>詳細機率: <a href="#">官網連結</a></span>
                            </div>
                            <div class="ProbabilityTable">
                            <ul>
                                <li class="itemTitle"><span>重點項目</span><span>機率</span></li>
                                <li><span>傳說潛在能力卷軸100%</span><span>2.00%</span></li>
                                <li><span>附加罕見潛在能力賦予卷軸100%</span><span>0.15%</span></li>
                                <li><span>永恆上衣選擇箱子</span><span>0.05%</span></li>
                                <li><span>永恆褲子選擇箱子</span><span>0.05%</span></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="historyContainer" v-show="">
                </div>
            </div>
            <div class="Activitydate">
                <span class="title">最後更新日期</span>
                <span class="txt">2023.07.19</span>
            </div>  
        </div>                   



        <!-- <div class="aboutContainer" v-show="!Activitybool"> -->
        <div class="aboutContainer" v-show="">
        <!-- <div class="aboutContainer" v-show=""> -->
            <div class="aboutImg">
                <div class="aboutCard">
                    <img src="./img/rolecard.png" alt="">
                </div>
            
            
                <div class="aboutCard">
                    <img src="./img/rolecard2.png" alt="">
                </div>
         
            </div>

            <div class="content">
                <p>我是池雲寅，也可以叫我阿貴就行</p>
                <p>來自琉德的雲玩家，目前嘗試學習各知識的前端工程師(F2E)</p>
                <p>希望自己學習過程中也能夠將遊戲雲知識分享給各位所開發的網站~</p>
                <p>有興趣者 歡迎加入 <a href="#">Discord</a>  ^_^</p>
            </div>
        </div>  

        <div class="homeContainer" v-show="!Activitybool">
            <div class="topicTag">
                <!-- 待規劃 -->
            </div>
            <div class="topicList">
                <div class="row">
                    <li class="cloudItem">
                        <h1>聊天戒指模擬器</h1>
                        <img src="" alt="">
                        <div class="link">
                            <span data-introTxt="聊天戒指模擬器" @click="handworkIntroBox">Intro</span>
                            <span>See</span>
                        </div>
                    </li>
                    <li class="cloudItem">
                        <!-- <span class="noData">Coming Soon</span> -->
                        <h1>demo</h1>
                        <img src="" alt="">
                        <div class="link">
                            <span data-introTxt="demo" @click="handworkIntroBox">Intro</span>
                            <span>See</span>
                        </div>                        
                    </li>
                </div>
                <div class="row">
                    <li class="cloudItem"><span class="noData">Coming Soon</span></li>
                    <li class="cloudItem"><span class="noData">Coming Soon</span></li>
                </div>
                <!-- <div class="row">
                    <li class="cloudItem"><span class="noData">Coming Soon</span></li>
                    <li class="cloudItem"><span class="noData">Coming Soon</span></li>
                </div> -->
            </div>

            <div class="workIntroBox" v-show="workIntroBoxBool">
                    <h1>{{workIntroBoxCont.key}}</h1>
                    <p>目的: 
                        <span>{{workIntroBoxCont.aim}}</span>
                    </p>
                    <p>製作學習心得: 
                        <span v-for="list in workIntroBoxCont.learn" :key="list" v-html="list"></span>
                    </p>
                    <p class="addTxt" v-if="workIntroBoxCont.addTxt !== ''">
                        備註: 
                        <span v-html="workIntroBoxCont.addTxt"></span>
                    </p>
                    <p class="refHref" v-if="workIntroBoxCont.refHref !== ''">
                        其他製作參考連結: 
                        <span v-for="list in workIntroBoxCont.refHref" :key="list" v-html="list"></span>
                    </p>
                    <div class="IntroBoxLink">
                        <a @click="handworkIntroBox">Close</a>
                        <a>See</a>
                    </div>                    
                    <!-- <h1>聊天戒指模擬器</h1>
                    <p>目的: 
                        <span>讓雲玩家們能先無料的嘗試使用各種聊天戒指樣式，找到喜好後能遊戲購買!</span>
                    </p>
                    <p>製作學習心得: 
                        <span>1.自學以來第一次使用<a target="_blank" href="https://cli.vuejs.org/">Vue CLI</a>開啟的小專案</span>
                        <span>2.嘗試使用<a target="_blank" href="https://swiperjs.com/">swiper.js</a>套件功能使地圖方便使用者自由選擇喜好</span>
                        <span>3.使用<a target="_blank" href="https://interactjs.io/">interact.js</a>的套件功能 讓玩家能自由拖曳聊天框位置</span>
                        <span>4.面對各種聊天戒指的樣式，在css切圖上也花了不少時間去了解T_T</span>
                    </p>
                    <p class="addTxt">
                        備註: 
                        <span>若聊天模擬器上沒有的，歡迎加入<a href="#">Discord</a>分享自己常用戒指有空之餘會再更新上去</span>
                    </p>
                    <div class="IntroBoxLink">
                        <a @click="handworkIntroBox">Close</a>
                        <a>See</a>
                    </div>                     -->
            </div>
        </div>
            

        </div>

        <footer v-show="!Activitybool">
            <span id="updatetime">
                <h1>本頁更新日期:</h1>
                <span>2023.07.24</span>
            </span>
            <span id="copyright">© 2023  池雲寅 - 轉載文章時請附上作者(池雲寅)及原文連結(Url)。</span>
        </footer>
    </div>

   

    <script src="./js/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>





